[2019-09-12 08:08] antstalepresh opened #1 "keeper.GetCookbook is causing segmentation fault when cookbook is not defined"
Here's code to reproduce the issue

[code]

error detail is like below.

[code]

[2019-09-14 07:53] girishramnani opened #2 "De-duplicate the keeper"
Currently the keeper implementation for each type has many similarities. The plan is to reduce that code duplication with the use of an interface called `Storable`/`StorageObject` which can have 3 methods
[code]
open to opinion if @antstalepresh @MikeSofaer some ideas

[2019-09-16 16:22] antstalepresh opened #6 "HandlerMsgCreateRecipe is trying to GetCookbook from cookbookName but GetCookbook require cookbook ID"
Below is implementation of GetCookbook.
[code]

Below is call in `HandlerMsgCreateRecipe`
[code]

Since one is using ID and one is using name, it's returning empty result, this issue should be resolved.

Possible solution:
Can implement a new function called GetCookbookByName
[code]

[2019-09-18 05:35] #6 closed, assigned to nobody

[2019-09-18 05:39] antstalepresh opened #9 "panic: unsupported type map on create_recipe handler"
Below is test code
[code]
Below is error log
[code]

[2019-09-18 13:30] #9 closed, assigned to nobody

[2019-09-20 08:54] antstalepresh opened #13 "ListCookbook is showing panic when no address is provided"
TestCode
[code]

Error Result
[code]

We should do validation for that and give correct result to users :)

[2019-09-27 13:20] antstalepresh opened #25 "No test is available for handlers.check_execution"

[2019-09-27 13:23] antstalepresh opened #26 "No tests available for some files in queriers"
queriers.get_cookbook
queriers.items_by_cookbook
queriers.items_by_sender
queriers.pylons_balance

[2019-09-27 13:25] antstalepresh opened #27 "Need to create a prototype for running test by connecting with daemon and cli"
- currently we are only doing unit test for all files, but we need to have a way to do integration test by connecting to daemon which is running.

[2019-09-27 13:25] antstalepresh opened #28 "Need to create randomness on recipes"

[2019-09-28 21:25] afti-githobo opened #30 "jsonlogic implementation and extension proposals"
Definitely happening: implementation of jsonlogic to replace the recipe system using the golang lib (https://github.com/diegoholiveira/jsonlogic)

jsonlogic is highly extensible, and we want to give gamedevs the ability to interact w/ on-chain assets in a way that feels Nice, so we'll be taking full advantage of that extensibility.

Proposed extension functionality is:

- Create item - takes all k

[2019-10-01 17:12] antstalepresh opened #33 "test is missing for check_execution"

[2019-10-01 17:14] #25 closed, assigned to nobody

[2019-10-01 17:16] #13 closed, assigned to antstalepresh

[2019-10-02 01:51] antstalepresh opened #34 "do we need to burn items / coin on execution stage, not check_execution stage?"
Currently we are burning items in check_execution stage for delayed executions.

I think we need to refactor this to burn in execution stage. since users can try to execute two times with the recipe.

[2019-10-02 06:17] girishramnani opened #36 "Specification Proposal: Pylon-lang"
This proposal covers the language specification for a non-turing complete DSL runtime and language for use in pylons ecosystem.

The base cases that the runtime should support are as follows -

- [C#] no 1 - https://pastebin.com/f5vJCumL
- [C#] no 2 - https://pastebin.com/09LLpiv0

### whole specification will be created as a PR to this issue

[2019-10-02 13:24] #1 closed, assigned to antstalepresh

[2019-10-02 16:00] #28 closed, assigned to antstalepresh

[2019-10-02 17:58] antstalepresh opened #38 "Create simple web interface to check rest endpoints"
- Currently Michael and afti are checking on android code.
- Girish and Eugen are checking cli

It is making things hard to be on same page

[2019-10-04 16:12] #26 closed, assigned to antstalepresh

[2019-10-06 10:08] antstalepresh opened #41 "Enrich Integration test"
- We need to make sure that all features implemented are working via integration test.
And features interactions are working without any issue.

[2019-10-06 11:46] #33 closed, assigned to nobody

[2019-10-07 00:46] antstalepresh opened #42 "Item trading between players"
we do need the tradeable/untradeable flag on items tho actually,

[2019-10-07 16:17] antstalepresh opened #44 "tx broadcast for create_recipe is returning panic: unsupported type map"
pylonscli tx broadcast is using go-amino Unmarshal and it's showing `panic: unsupported type map`

Here's detailed error
Branch https://github.com/MikeSofaer/pylons/tree/issue%2341/create_recipe_integration_test
1. git checkout issue#41/create_recipe_integration_test
2. go install ./cmd/pylonsd
    go install ./cmd/pylonscli
3. install eugen account
    `pylonsd add-genesis-account $(pylonscli key

[2019-10-08 17:39] antstalepresh opened #47 "item map struct to list and float64 to FloatString"
- Currently only Recipe structs are modified to use list ( updated from map to list)
Item should be converted too

[2019-10-08 17:40] antstalepresh opened #48 "panic: floating point types are unsafe for go-amino"
go-amino does not support float types and says it's unsafe.
But float is necessary for game dev pov, so `type FloatString string` should be used to achieve this

[2019-10-09 01:14] #44 closed, assigned to afti-githobo, antstalepresh

[2019-10-09 03:17] antstalepresh opened #49 "need to convert json Marshal to amino cdc.MarshalJSON or cdc.MarshalBinaryBare"
@MikeSofaer , @girishramnani rather than MarshalBinaryBare I think it would be better to use MarshalJSON since it's easier for us to see logs within deamon.
For query commands it will not needed to use amino codec, but cli transaction commands need to use amino

[2019-10-09 10:13] antstalepresh opened #50 "integration tests use existing structs for Msgs rather than creating new structs"
This issue can be resolved after we convert json.Marshal into amino Marshal

[2019-10-09 10:15] #27 closed, assigned to antstalepresh

[2019-10-13 03:27] #48 closed, assigned to antstalepresh

[2019-10-13 12:47] #47 closed, assigned to antstalepresh

[2019-10-13 12:48] antstalepresh opened #53 "Finalize TODO cli commands to work with args"
- create_cookbook
- fiat_item

[2019-10-14 02:40] antstalepresh opened #55 "Need to do mock at once and not touch more to reduce integration test time"
- Currently integration test takes about 60s and as long as more tx tests are done, it will take long and long. To reduce duplicated time, we need to remove duplicated mocks.
- Need to disable affect between test files

[2019-10-14 13:26] antstalepresh opened #57 "We should define a way to retrieve the Execution ID for delayed Execution"
Currently I am retrieving all Executions using ListExecutions but if multiple Executions with same params happen there's no way to find exact execution.
Do we have a way to read data from tx hash or something?

Same way, when creating a recipe, need to get its ID, it's not a correct way to manage recipes only by name.

[2019-10-16 02:40] antstalepresh opened #62 "When sign lots of txs at the same time it shows sig match false issue"
This issue was found during integration test.
I was often getting `signature match false` log from daemon during integration test and was not sure why it was happening.
After 5 hours of struggle, I have found that it typically happens when creating two recipes in 1 block with 1 account. (not sure if it's the exact reason)
but if I wait for 1 block for second recipe creation, it's not causing the s

[2019-10-17 02:31] #55 closed, assigned to antstalepresh

[2019-10-18 08:33] #50 closed, assigned to antstalepresh

[2019-10-20 02:15] antstalepresh opened #70 "IDs should be managed outside of Handlers since we can't get ID instantly after it's created inside handler"
we need to predefine the GUID and users should use this GUID to get the recipes or executions. And also as long as number of users are increased, we can have separate nodes to only run queries.

[2019-10-20 02:16] #57 closed, assigned to antstalepresh

[2019-10-22 02:11] antstalepresh opened #74 "Why are we passing ItemIDs for ExecuteRecipe?"
- In real world, and also real game, do we select items to apply recipes?

[2019-10-22 02:37] #74 closed, assigned to nobody

[2019-10-23 03:28] antstalepresh opened #75 "Should be able to get all logs of handlers by using some query"
Currently we have really no way to check handler successed or not via cli.
We need it in real environment.
After this is implemented, failure and success check on integration test should be using this to check things correctly.

Michael's saying on discord "We definitely need transaction status"

[2019-10-24 16:46] antstalepresh opened #77 "Generating IDs inside handler can cause breaking of chain on multi-node mode"
**(Girish)**
If all the nodes contain same seed, this problem can be resolved.
**(Eugen)**
All the IDs can be provided from outside. (Earlier GUID generation)
**(Michael)**
Single node for now
We will release an app that way
Then multi node as we have more apps

[2019-10-25 03:22] #75 closed, assigned to MikeSofaer, afti-githobo, antstalepresh

[2019-10-25 03:25] #70 closed, assigned to antstalepresh

[2019-10-25 22:55] afti-githobo opened #78 "more powerful tools for importing recipe components as test fixtures"
Actual recipes, as used in games, can be kinda sorta monstrously complex. GenEntries isn't really helpful there, and doing everything inline makes tests extremely verbose and hard to write. So fixtures would be nice, afa letting us decouple our data from our actual test logic.

I think the simple way to do this is just by storing things on disc as json blobs? So you have a directory structure cont

[2019-10-30 10:57] girishramnani opened #79 "Precondition items for recipes"
Have items in recipes that are needed by the user to execute the recipes.
Also plan for having a catalyst effect of those items

[2019-10-30 11:03] #30 closed, assigned to nobody

[2019-10-30 11:12] girishramnani opened #80 "Gift Item"
A cookbook owner can gift items to users of their cookbook ( game )

[2019-11-03 07:31] girishramnani opened #81 "Atomic trading ledger"
Currently trading doesn't have any atomic rollback mechanism so a trade ledger which works as a write ahead log.
One thing to keep in mind while implementing this is that all operations should be idempotent

[2019-11-08 02:10] #78 closed, assigned to antstalepresh

[2019-11-08 02:11] antstalepresh opened #83 "Enrich fixture test to support more realistic things"
1) need to support multi-account (currently only support single account "eugen" for both integration test and fixture test)
2) need to support multiple scenarios test (currently support only single scenario - scenario.json)
3) need to make sure several scenarios run concurrently and they all work without any issue
4) need to support create_trade, finish_trade action which is being implemented by G

[2019-11-12 00:19] #41 closed, assigned to antstalepresh

[2019-11-12 02:33] #53 closed, assigned to antstalepresh

[2019-11-21 11:26] #83 closed, assigned to antstalepresh

[2019-11-21 11:26] #62 closed, assigned to MikeSofaer, afti-githobo, antstalepresh

[2019-12-03 09:19] antstalepresh opened #101 "When Item participate in delayed execution, it should be owed by the recipe"
My opinion is adding OwnerRecipeID field to item

[2019-12-03 09:23] antstalepresh opened #102 "Some items shouldn't be burnt when running recipe"
As Manuel requested, I think we need to not burn some items when running recipe.

Here's Afti's message
[code]

Yes. It should be catalysts

As a solution I would like to add `BurnItem: true/false` in Recipe's ItemInput

[2019-12-03 09:24] antstalepresh opened #103 "Need to have boolean and enum fields for item"
Manuel's message on discord
[code]

[2019-12-03 11:37] #102 closed, assigned to nobody

[2019-12-03 16:15] antstalepresh opened #104 "Add OwnerRecipeID when doing execution"
- add OwnerRecipeID to item
- lock item when user execute recipe
- when locked, it shouldn't be able to participate in other recipe execution
- finish lock after finishing execution

[2019-12-07 06:16] #103 closed, assigned to nobody

[2019-12-07 06:23] antstalepresh opened #109 "add item upgrade recipe"
Here's my opinion why we need item upgrade recipe separately from item generation recipe.
1) if we use item upgrade recipe, we can keep original item's ID
2) item upgrade is useful on all games
3) current recipe generation code is very long and hard to express - so for developer convenience, we will need to have separate item upgrade recipe
4) And also most of game logic is separate fields upgrade

[2019-12-07 06:58] girishramnani opened #112 "operator between inputs and outputs for recipes"
## Purpose of this proposal
The purpose of this proposal is the allow the item inputs and item outputs for a recipe to be connected.

## Proposal
We will be providing a DSL ( Domain specific language ) which will have the context as all the input values. e.g.
if there is an input `{ "a": 12 }` then `a` as a variable will exist in the context of the language as a variable and can be used like this

[2019-12-07 07:42] girishramnani opened #114 "send coins and items to a master address instead of just burning them ( subtracting them )"
search for `TODO` in the code and you will be able to find the comment like above.

[2019-12-07 08:48] antstalepresh opened #115 "Should be able to rollback when transaction fail - from Girish's comment"
My thoughts:
- On ethereum, when transaction fail, it's not changing status.
- cosmos is doing same way, I guess and if it fails, I think it will not change status and it will not affect daemon status
- But at least we need to check and confirm that

[2019-12-07 10:39] #34 closed, assigned to nobody

[2019-12-07 10:41] #38 closed, assigned to antstalepresh

[2019-12-07 10:42] #49 closed, assigned to antstalepresh

[2019-12-07 10:43] #101 closed, assigned to nobody

[2019-12-08 12:45] antstalepresh opened #117 "create unit test for GetMatchedItems"

[2019-12-08 14:11] #104 closed, assigned to antstalepresh

[2019-12-11 12:11] #109 closed, assigned to antstalepresh

[2019-12-11 12:57] antstalepresh opened #119 "split game player and game developer in fixture test"
(let’s make Michael as player and manuel as developer)

[2019-12-11 12:58] antstalepresh opened #120 "not ending when transaction sign match is false -> why is it so?"
(Especially, this happens when I set wrong Recipe Type)

[2019-12-11 12:59] antstalepresh opened #121 "fix "fatal error: concurrent map read and map write” which happens time to time"
https://circleci.com/gh/MikeSofaer/pylons/1333?utm_campaign=chatroom-integration&amp;utm_medium=referral&amp;utm_source=slack

[2019-12-11 13:00] antstalepresh opened #122 "should be able to run specific scenario not whole fixture test scenario for dev mode"

[2019-12-11 13:01] antstalepresh opened #123 "real time fixture test Log using customized test Log function"

[2019-12-11 13:04] antstalepresh opened #124 "not ending when execute_recipe fails"
Here are steps
1) execute_recipe for level 1 -> 2 update (make it failing)
2) wait for that step and it's in infinite loop rather than finishing automatically

[2019-12-11 13:07] antstalepresh opened #125 "Define or adopt test standards, guidelines and best practices"
Currently most of things are covered in Fixture test and int test and unit tests are not doing a good role.

[2019-12-12 13:10] antstalepresh opened #127 "Create a graph struct for cyclic dependency checker variables"
Fix Girish's comment on https://github.com/MikeSofaer/pylons/pull/126

[2019-12-12 13:10] #121 closed, assigned to antstalepresh

[2019-12-19 19:00] #42 closed, assigned to nobody

[2019-12-19 20:27] #2 closed, assigned to nobody

[2019-12-20 18:43] #127 closed, assigned to antstalepresh

[2019-12-22 20:15] girishramnani opened #136 "Fixture and integration tests for create, fullfil, list and delete trade"
- fixture and integeration tests for
    - [ ] create trade
    - [ ] fullfil trade
    - [ ] list trade
    - [ ] delete trade

[2019-12-23 08:31] #117 closed, assigned to antstalepresh

[2019-12-23 12:23] antstalepresh opened #138 "Have Signer and Receiver on MsgFiatItem"
Currently, when user run FiatItem, the executor get this.
But I think only admins can assign it to players - need to discuss - seems we are not in stage of doing this.

[2019-12-23 13:49] #119 closed, assigned to antstalepresh

[2019-12-23 13:54] #36 closed, assigned to nobody

[2019-12-25 14:41] #115 closed, assigned to antstalepresh

[2019-12-26 02:53] antstalepresh opened #142 "should support both parallel mode and serial mode for fixture test"

[2019-12-26 02:54] antstalepresh opened #143 "Anyway to create common interface for unit_test, fixture_test and integration test?"

[2019-12-26 02:56] antstalepresh opened #144 "why parallel test is only reducing 10s, need to check after creating realtime fixture test logger"

[2019-12-26 02:56] antstalepresh opened #145 "create simple web game using this backend and find lack points"

[2019-12-26 20:25] #81 closed, assigned to nobody

[2019-12-27 04:51] #114 closed, assigned to nobody

[2019-12-27 16:24] #124 closed, assigned to antstalepresh

[2019-12-28 06:34] MikeSofaer opened #151 "pylons-cli domain commands"
pylons-cli should not be exposing the JSON to the user. So for example you should be able to do this:

pyslons-cli create_cookbook my_cookbook
pylons-cli create_recipe my_cookbook recipe_1 -ic {pylons: 5}, -oi "{sword: 1, power: 5}"
pylons-cli execute my_cookbook recipe_1

Or something like that.

[2019-12-28 08:49] girishramnani opened #152 "set default account in config so the user doesn't need to provide it everytime"
Currently the user has to provide `--from` as  argument everytime they do a transaction. We need to find a way to set this to a default value in the config.

[2020-01-09 09:43] antstalepresh opened #155 "Fixture test: runtime error: index out of range issue on DependencyGraph checker"
circleci build link
https://circleci.com/gh/MikeSofaer/pylons/1558

[code]

[2020-01-10 00:55] antstalepresh opened #156 "Sig match false when recipe's doubles field is empty on fixture test"
[code]

[2020-01-28 02:51] antstalepresh opened #167 "Panic when running fulfill trade"
Here's detailed log

[code]

[2020-02-04 08:29] afti-githobo opened #169 "Inconsistent sigcheck behavior when creating new cookbooks w/ CreateCoobook tx message and /txs endpoint"
The behavior of CreateCookbook messages - submitted through the /txs endpoint - is inconsistent. Signature checks may unpredictably either succeed or fail, for no easily identified reason.

This can be verified by performing the following sequence of actions:

- generate a new set of credentials
- submit a GetPylons message at least once, in order to establish account state and provide the costs o

[2020-03-05 12:12] #112 closed, assigned to antstalepresh

[2020-03-05 12:12] #169 closed, assigned to nobody

[2020-03-05 12:15] #136 closed, assigned to nobody

[2020-03-05 12:21] #142 closed, assigned to antstalepresh

[2020-03-13 18:00] antstalepresh opened #183 "Recipe structure update"
As we discussed on discord we will removing ToUpgrade field and RecipeType field from Recipe struct and add ToUpgrade field to ItemInputs field.

This requires fixture test code, unit test code, integration test code and I suggest to work in this way.

Here main time taking part is testing code change.
To work efficiently I suggest to work like below
1) Discuss detailed steps for code change betwe

[2020-03-19 12:00] #79 closed, assigned to nobody

[2020-03-19 12:24] girishramnani opened #187 "recipe structure changes"
as per @antstalepresh suggestion this could be a possible change in the recipe struct.
[code]
the indexes here define the items indexes

[2020-04-29 16:15] girishramnani opened #196 "Extract the pylonscli into a separate Repository"
## Acceptance Criteria
- [ ] Breaking out the pylonscli from the current repo
- [ ] The cli should be as independent as possible from the daemon as we plan to open source it
- [ ] tests are somewhat interdependent so we need to make sure that doesn’t break

## Proposal/Scoped work

- TODO

[2020-05-12 15:45] afti-githobo opened #203 "update_recipe handler doesn't set recipe outputs"
see x/pylons/handlers/update_recipe.go - msg.outputs is never used, so the recipe's weightedoutputlist remains whatever it was before.

this should be a one-line fix - just add `rc.Outputs = msg.Outputs` to HandlerMsgUpdateRecipe.

[2020-06-06 19:18] chrisluo opened #222 "ctx.BlockHeight() returns 0 when stop and start node"
In NewCustomAnteHandler:

`isGenesis := ctx.BlockHeight() == 0`
returns 0 when starting node

This causes:
`pubKey.VerifyBytes(signBytes, sig.Signature)`
to return false

If I wait a block, ctx.BlockHeight returns correctly.

[2020-06-12 08:57] afti-githobo opened #232 "tx_builder calls are broken"
ATM all calls to the TX builder functions over the rest API are returning a runtime error.

See:

http://35.238.123.59/pylons/update_cookbook/tx_build/

[code]

[2020-06-15 03:28] #232 closed, assigned to nobody

[2020-06-15 09:10] #203 closed, assigned to nobody

[2020-06-15 16:02] miguel1770 opened #235 "no unique handler return format improvement proposal"
Here's code that does not have unique format.
[code]
[code]
1) Modify **DisableRecipeResp** to **DisableRecipeResponse**
2) Add **Status** and **Message** fields to **CreateTradeResponse** type

I can look around the rest of the code and update it to have a unique format.

[2020-06-15 16:12] miguel1770 opened #236 "Return exit status code on handlers to follow code standard"
Relevant code
[code]
Returning strings directly is not a preferred way. There are very good status codes like 404 etc that has meaning.
We can define custom statuses somewhere (**codes map[int]string**)and use it as a reference to return status code instead of status string and message string.

Not all status and messages are described as status code, but very popular status can have status codes.

[2020-06-15 16:18] miguel1770 opened #237 "Items owned by recipes is tradable?"
Relevant code.
[code]
Items owned by recipes can be tradable? If it's not tradable, it will be ideal to have a function called **isTradable()**.
Instead of using a static **Tradable** var to check Tradable assets, using **isTradable** function will make the code clean and reduce memory usage.

[2020-06-15 16:32] miguel1770 opened #238 "Different error code and line for tracking"
Relevant code
[code]
There are lots of errInternal(err) calls in Pylons repo.
Instead of **ErrInvalidRequest** request for the errors, it will be good to return different code for error type and it is idea to return the line of code where error is produced.

[2020-06-15 16:45] miguel1770 opened #239 "Minicode modification proposal"
Relevant code
[code]
“pylons” should be replaced with module name that is available in other place

Relevant code
[code]
 ExtraInfo, Sender fields are missing

**Comments for CoinInputs, ItemInputs, CoinOutputs, ItemOutputs, ExtraInfo.**
I am not exactly sure what field is for trade creator and which field is for trade acceptor.

**Unique variable naming**
cookbookID and cbID
recipeID and rcpID

[2020-06-15 16:48] miguel1770 opened #240 "ItemOutputs of trade only use item.ID"
Relevant code
[code]
ItemOutputs of trade only use item.ID.
Is it mandatory and efficient to put item object instead of only IDs?

[2020-06-15 16:48] miguel1770 opened #241 "No unit test for UpdateTrade"

[2020-06-15 16:51] miguel1770 opened #242 "MsgFulfillTrade should have custom item IDs as an input"
Eugen's msg
**MsgFulfillTrade should have custom item IDs as an input instead of automatic selection in handler level.**

[2020-06-15 16:53] miguel1770 opened #243 "CookbookID field to ItemInput"
Eugen's msg

**We don't have restriction of cookbook ID on trading. It can be solved by adding CookbookID field to ItemInput and adding validations to create_trade and fulfill_trade handlers.**

[2020-06-15 18:17] #235 closed, assigned to nobody

[2020-06-16 12:39] miguel1770 opened #247 "Remix like web tool for Pylons"
All smart contract engines have web tools to test its behavior.
Reference for ethereum is https://remix.ethereum.org

I have tried to debug fixture test but it's complex to check how it's going in background. If there's a web tool that can test small pieces, it will reduce development time.

[2020-06-16 16:22] miguel1770 opened #249 "How does minus weights work?"
[code]

[2020-06-17 08:58] miguel1770 opened #252 "Fatal log improvement proposal"
**Eugen's msg**

Relevant FAQ document

**- How to debug this issue?**
[code]
**Try to debug the transaction by doing** `pylonscli query tx 632A1A35933E4DDD89A71B2C576C7C9BD1267DA39A229B129981A64ED37CE9A6`

To avoid double transaction check, for fatal logs, there should be transaction log checker for that.

[2020-06-17 10:20] miguel1770 opened #253 "cookbook constructor function input parameters update"
Relevant code
[code]

I think cookbookID should be before cookbook name.
And it can be called as ID in parameter.

What I propose
[code]

[2020-06-17 11:43] miguel1770 opened #254 "CreateTrade InputItem cookbook id validation"
Relevant code
[code]

[code]

FulfillTrade has validation for cookbook id, CreateTrade can have cookbook id validation too.

[2020-06-18 00:29] #249 closed, assigned to nobody

[2020-06-18 00:31] #243 closed, assigned to antstalepresh

[2020-06-18 02:07] #196 closed, assigned to nobody

[2020-06-18 09:15] miguel1770 opened #259 "specific scenario test command"
Relevant code
[code]

Testing all fixture test scenarios take more than 2 minutes and it's not efficient for development to change file names to avoid testing specific scenario.

My suggestion is to add scenarios flag to the ARGS that's being used in Docker.
[code]

[2020-06-18 16:07] #259 closed, assigned to nobody

[2020-06-19 00:08] #237 closed, assigned to antstalepresh

[2020-06-19 14:58] chrisluo opened #264 "Change TradeItemInput struct for consistent msg structure for mobile sdk"
**Issue on mobile right now:**
In custom_ante_handler check is:
if !simulate && !pubKey.VerifyBytes(signBytes, sig) {
    return ctx, sdkerrors.Wrap(sdkerrors.ErrUnauthorized, "signature verification failed; verify correct account sequence and chain-id")
}

msg:
...
"ItemInputs":[{
"CookbookID":"",
"ItemInput":{
"Doubles":[],
"Longs":[],
"Strings":[]
}
}]
...

it is expecting signBytes:
...
"ItemI

[2020-06-22 01:03] #264 closed, assigned to nobody

[2020-06-22 01:04] #254 closed, assigned to antstalepresh

[2020-06-22 01:05] #242 closed, assigned to nobody

[2020-06-22 02:31] #239 closed, assigned to nobody

[2020-06-22 02:33] #183 closed, assigned to nobody

[2020-06-22 02:33] #187 closed, assigned to nobody

[2020-06-23 09:29] #252 closed, assigned to nobody

[2020-06-30 13:33] worldarchi opened #287 "node0 account balance is never changed by the fee on send items test"
When node0 account is used as the cookbook owner in the send items integration test, it has problems because the node0 account's balance is never affected by the fee, when it runs together with other tests. It actually works when it runs independently but doesn't work with other tests.

All other accounts including eugen, michael and jose work in any case. This means that node0 account has the dif

[2020-07-10 21:58] chrisluo opened #293 "Disable trade prevents item from being traded again"
1. Create trade with item,
2. Disable trade
3. Create trade with item returns item id is not tradable

[2020-07-13 09:25] antstalepresh opened #295 "Randomly / first time fixture tests run failures"
Logs
[code]

It seems we have a randomly or first-time fixture test failure result on EXECUTE_KNIFE_SHIELD_RECIPE.

[2020-07-14 09:08] antstalepresh opened #298 "Intercept raw tx send command with coin lock feature"
There's a case of using raw tx send command to hack coin lock feature and we need to think about how to prevent it.

[2020-07-15 10:22] #293 closed, assigned to nobody

[2020-07-20 18:05] antstalepresh opened #307 "When add keys on local in parallel it returns ERROR even though cli lock is implemented"
[code]

[2021-04-23 00:03] afti-githobo opened #348 "Using specific txs queries over REST"
Transaction history features in walletcore require the ability to query transactions sent by and to a specific address. pylonscli does support this, and eugen demonstrated in the Discord that it does work on some version of the codebase, under some set of circumstances. However, my own efforts so far to reproduce this functionality on my end have been fruitless, which has been a blocker. All calls

[2021-06-18 12:33] aljo242 opened #351 "Add functionality to query RecipeExecutions by recipe"
Currently, functionality exists to query for RecipeExecutions by [user as seen here](https://github.com/Pylons-tech/pylons/blob/develop/x/pylons/queriers/get_execution.go).  We want to add similar functionality to query for Executions of a particular recipe for ALL users rather than a specific user.

[2021-06-18 18:58] aljo242 opened #352 "Documentation Refactoring"
## Summary

Clean up main pylons github page and reorganize documentation

## Problem Definition

The [main page](https://github.com/Pylons-tech/pylons) of this repo needs a significant overhaul before our next major release.  The README file is overall too long and unorganized, so it does not function well as an intro to the project/code.

Other documentation (*.md) files do not have a clear styl

[2021-06-22 18:02] aljo242 opened #354 "Implement check for global execution of recipes"
## Summary

Check that global executions of a particular recipe does not exceed a specified value when it was minted

## Problem Definition

Currently, a `Recipe` contains a field `Entries` which is of type `EntriesList`.

[code]

The `EntriesList` type contains `ItemOutputs` of type `[]ItemOutput`.

[code]

One of the fields in the `LongParams` of an  `ItemOutput` currently is "Quantity" which re

[2021-07-09 14:48] ghost opened #360 "Add starport support"
## Summary

Leverage Starport to improve development experience.

## Problem Definition

   When new developers begin at a software project, there is always a learning curve that
must be overcome in order to be fully comfortable with the development process. Also, for
experienced developers, adding new features that could have huge amounts of boilerplate code
could lead to errors hence having impa

[2021-07-09 15:33] ghost opened #362 "Create a Docker Image to start the application using starport"
## Summary

Create a Dockerfile in order to create an image from a starport build

[2021-07-09 15:33] ghost opened #363 "Create a docker-compose that will start the node and block explorer"
## Summary

Create a Docker compose that will start both pylons node and the ui

## Problem Definition

After solving #362, the next step is to create the necessary infrastructure to facilitate the deployment of the node using Starport and the Ui.

[2021-07-09 18:26] giunatale opened #365 "Use .toml file for Pylons-specific configuration"
## Summary

The current configuration resides in a [.yml file](https://github.com/Pylons-tech/pylons/blob/develop-no-stripe/pylons.yml) read from the current working directory. We should change it to mirror what is done in the Cosmos SDK.

## Problem Definition

Right now the `pylonsd` configuration is obtained from a `pylons.yml` file that is searched in the current-working-directory as can be se

[2021-07-12 17:19] #307 closed, assigned to nobody

[2021-07-13 12:28] ghost opened #367 "Close stale and outdated issues"
Although the codebase has changed significantly since a substantial number of the existing issues have been created,  they all should be investigated before closing.

[2021-07-15 16:47] giunatale opened #369 "Add complete setup instructions to TECHNICAL-SETUP.md"
We need a complete guide to setup your environment to succesfully be able to build and run the node binary

[2021-07-15 16:51] ghost opened #370 "docs: Move the technical setup document to a different pull request"

[2021-07-15 17:03] #370 closed, assigned to nobody

[2021-07-16 11:26] #369 closed, assigned to nobody

[2021-07-20 16:10] aljo242 opened #375 "Add badges to README.md"
## Summary

Add badges containing metadata about the project to `README.md`.

## Problem Definition

Badges are a simple way to provide concise information about a project.  Since stable, well-maintained projects generally provide badges on their main `README` files, including them will also give the this repo a more professional appearance to new viewers.

## Proposal

Add typical badges for Gola

[2021-07-20 18:49] ghost opened #376 "Update documentation informing on how to start the application using docker compose"

[2021-07-21 14:34] #375 closed, assigned to nobody

[2021-07-21 16:25] #360 closed, assigned to nobody

[2021-07-21 16:25] #376 closed, assigned to nobody

[2021-07-21 16:25] #363 closed, assigned to nobody

[2021-07-21 16:25] #362 closed, assigned to nobody

[2021-07-21 19:08] #138 closed, assigned to antstalepresh

[2021-07-21 19:09] #77 closed, assigned to MikeSofaer, afti-githobo, antstalepresh

[2021-07-21 19:10] #123 closed, assigned to antstalepresh

[2021-07-21 19:11] #122 closed, assigned to antstalepresh

[2021-07-21 19:12] #120 closed, assigned to antstalepresh

[2021-07-21 19:13] #143 closed, assigned to antstalepresh

[2021-07-21 19:13] #144 closed, assigned to antstalepresh

[2021-07-21 19:14] #145 closed, assigned to antstalepresh

[2021-07-21 19:19] #151 closed, assigned to antstalepresh

[2021-07-21 19:21] #152 closed, assigned to nobody

[2021-07-21 19:22] #155 closed, assigned to antstalepresh

[2021-07-21 19:25] #156 closed, assigned to antstalepresh

[2021-07-21 19:29] #125 closed, assigned to antstalepresh

[2021-07-21 19:30] #80 closed, assigned to nobody

[2021-07-21 19:34] #167 closed, assigned to nobody

[2021-07-21 19:39] #367 closed, assigned to nobody

[2021-07-22 10:02] #295 closed, assigned to nobody

[2021-07-22 10:03] #253 closed, assigned to nobody

[2021-07-22 10:05] #222 closed, assigned to nobody

[2021-07-22 10:09] #247 closed, assigned to nobody

[2021-07-22 10:11] #240 closed, assigned to nobody

[2021-07-22 10:17] #236 closed, assigned to nobody

[2021-07-22 10:17] #238 closed, assigned to nobody

[2021-07-23 14:59] aljo242 opened #383 "Improve deployment setup"
## Summary

Improve deployment setup and integration with existing testnet.

## Problem Definition

This issue covers problems with our current deployment setup and multi-node testing configurations.

Currently, changes pulled into the `develop` branch should trigger updates to the deployment server.  There have been issues with deployment updates erasing chain history, or not being triggered prop

[2021-07-23 16:30] ghost opened #384 "Add multi-node (multi-validator) deployment setup"

[2021-07-24 00:44] afti-githobo opened #385 "Unmarshaling doubles as big ints during TX parsing"
## Summary of Bug

When sending a create-trade transaction (maybe other message types?) with an item input with a value in one of its doubles fields that cannot be parsed as an integer, the otherwise-legal transaction is refused because the Pylons node errors during the process of unmarshaling it, providing the following `raw_log`:

`math/big: cannot unmarshal "0.000000000000000104" into a *big.In

[2021-07-28 02:45] afti-githobo opened #387 "Version field on Recipe type"
## Summary

A `Version` field should be added to our Recipe type, which stores a SemVer string. Basically the same field as cookbook versions.

## Problem Definition

Versioning info is really useful for building tools for building, managing, and deploying recipes that are intended to receive updates and may be in different states on each of the mainnet, testnet, and/or a local node at any given t

[2021-07-29 01:48] afti-githobo opened #388 "Eliminate the enable recipe/disable recipe txs in favor of modifying recipe disabled field w/ the update recipe msg"
## Summary

EnableRecipe/DisableRecipe messages shouldn't exist. Instead, you should just be able to set the `disabled` field directly with CreateRecipe and UpdateRecipe.

## Problem Definition

Having separate messages for enabling/disabling recipes makes writing tools harder, because they need to compare the remote state and the state of the data on hand more deeply (is this recipe disabled on t

[2021-07-30 14:06] #385 closed, assigned to nobody

[2021-09-07 22:40] aljo242 opened #408 "PoA Module"
## Summary

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-09-10 16:12] #408 closed, assigned to nobody

[2021-09-13 16:09] #241 closed, assigned to nobody

[2021-09-13 16:09] #287 closed, assigned to nobody

[2021-09-13 16:09] #298 closed, assigned to nobody

[2021-09-13 16:10] #348 closed, assigned to nobody

[2021-09-13 16:10] #365 closed, assigned to nobody

[2021-09-13 16:11] #351 closed, assigned to nobody

[2021-09-28 20:22] aljo242 opened #431 "Formal Spec"
## Summary

Pylons needs a spec similar to all other Cosmos SDK modules.  Example: [x/auth](https://github.com/cosmos/cosmos-sdk/tree/master/x/auth/spec).

## Problem Definition

The need for a spec is pretty straightforward:
- Pylons has never truly had good technical documentation.
- A spec helps inform future design decisions
- The documentation can help downstream developers (mobile apps, web

[2021-09-29 12:07] #387 closed, assigned to nobody

[2021-09-29 12:08] #388 closed, assigned to nobody

[2021-09-29 12:09] #354 closed, assigned to nobody

[2021-09-29 12:26] #384 closed, assigned to nobody

[2021-09-29 12:31] aljo242 opened #432 "Burn option of Recipe coin-inputs"
## Summary

We want to add functionality for global or ibc-denom tokens to be burned when used as recipe coinInputs.  This functionality would allow for operation similar to Regen Network's where tokens can be burned for environmental purposes.

## Problem Definition

Currently, coinInputs follow two paths depending on their type during `Recipe` execution.
- If the the coin is a global or IBC deno

[2021-10-04 14:35] aljo242 opened #438 "Trade CoinInput Refactoring"
## Summary

Currently, the logic for `Coins` for trades is extremely convoluted and hard to follow - both in code and for users.  All of this complication can lead to confusion, difficulties with maintainability and unintended functionalities like the ability to perform exchanges of fiat-equivalent currencies.

## Problem Definition

A trade is represented by the following proto:

[code]

The key

[2021-10-04 14:54] aljo242 opened #439 "Limit Item TransferFees to Payment Tokens"
## Summary

Currently, we are allowing any arbitrary `Coin` to be the `transferFee` of an `Item`.  This means that "worthless" tokens like any cookbookDenom can be set as the `TransferFee`.   If network validators or cookbook creators are paid in these worthless `Coins`, its not a very worthwhile value proposition for them.

We could limit the `transferFee` of `Items` to payment tokens only ("upyl

[2021-10-05 20:12] aljo242 opened #445 "Add License"
## Summary

With the open-sourcing of the project coming soon, we need to make sure we have a LICENSE file in place.

This isn't a priority.  Just something to keep in mind so we don't forget

____

#### For Admin Use

- [X] Not duplicate issue
- [X] Appropriate labels applied
- [X] Appropriate contributors tagged
- [X] Contributor assigned/self-assigned

[2021-10-06 17:07] ghost opened #450 "Enable the vue application to use Keplr to sign transactions"
## Summary

Enable Keplr integration

## Problem Definition

Keplr is the most used wallet in the cosmos ecosystem and we should be able to use it in the web application to sign transactions

## Proposal

Using the vuejs application that starport scaffolds, adapt it to the pylons web application and enable the keplr extension.

____

#### For Admin Use

- [X] Not duplicate issue
- [X] Appropriate

[2021-10-08 18:13] aljo242 opened #455 "Spec v2"
## Summary

The spec could still use updating, especially as large changes can still be made to the code.

Previous spec issue: https://github.com/Pylons-tech/pylons/issues/431

____

#### For Admin Use

- [X] Not duplicate issue
- [X] Appropriate labels applied
- [X] Appropriate contributors tagged
- [X] Contributor assigned/self-assigned

[2021-10-15 22:55] faddat opened #462 "0.44.1 bad"
## Summary of Bug

0.44.1 bad.
1.2.0 bad

## Version

1.0.3

## Steps to Reproduce

can make chain die
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-10-19 12:39] #445 closed, assigned to MikeSofaer

[2021-10-19 12:59] #431 closed, assigned to nobody

[2021-10-19 13:00] #383 closed, assigned to nobody

[2021-10-19 15:44] #450 closed, assigned to nobody

[2021-10-21 19:01] #462 closed, assigned to nobody

[2021-10-23 19:48] aljo242 opened #475 "Remove `rate` field from Recipe Params"
## Summary

The `rate` field found in the `DoubleParam`, `LongParam` and StringParam` fields that comprise Recipes is functionally unused.  We should remove this dead code as it doesn't have a purpose moving forward.

## Problem Definition

The `rate` field can be seen in the [`DoubleParam`](https://github.com/Pylons-tech/pylons/blob/6674bb962b8390c07e458f08f4ef9ec75d3fda62/proto/pylons/recipe.pro

[2021-10-25 13:54] #475 closed, assigned to nobody

[2021-11-04 13:27] aljo242 opened #496 "`x/epochs` parameters"
## Summary

 The available epochs of the `x/epochs` module are baked into the genesis state at this time.  If we, say, want to change distribution to happen hourly or even bi-daily, and we don't have those epoch durations in the genesis state, we would need to make a new genesis.  Moving the epochs to being Params will allow them to be updated (more flexibility), while still being saved on-chain.

[2021-11-04 13:50] #455 closed, assigned to nobody

[2021-11-04 18:39] aljo242 opened #497 "Testing Coverage"
[coverage.txt](https://github.com/Pylons-tech/pylons/files/7477438/coverage.txt)

## Summary

Some features have been added without being adequately tested.  This issue covers a backlog of unfinished tests.

## Problem Definition

Here is the latest [coverage.txt](https://github.com/Pylons-tech/pylons/files/7605886/coverage.txt).

Key files with incomplete or no testing are:

- [ ]  `app/ante.go`

[2021-11-04 18:48] #432 closed, assigned to nobody

[2021-11-04 19:14] #438 closed, assigned to nobody

[2021-11-04 19:14] #439 closed, assigned to nobody

[2021-11-22 15:43] aljo242 opened #510 "Limit number of recipe fields to prevent bloat"
## Summary

Recipes currently allow developers to put an **arbirtrary** amount of fields in their recipe itemOutputs and itemModifyOutputs.  This obviously could lead to large amounts of spam on a public blockchain, so we should come up with some mechanism to limit this behavior.

## Proposal

We need to set some kind of limit into the chain for how much data a Recipe output can take up.  The main

[2021-11-22 15:44] #496 closed, assigned to nobody

[2021-11-22 17:03] aljo242 opened #511 "Move CostPerBlock from Cookbook to Recipes"
## Summary

Moving the `CostPerBlock` field from the Cookbook to a Recipe will allow for more granular experiences and will align the `complete-execution-early` fees more closely with other recipe fees.

## Problem Definition

Currently, the `CostPerBlock` field is located in a Cookbook.  This means that for all recipes within that cookbook, the `complete-execution-early` fees are the same denom a

[2021-11-23 14:54] aljo242 opened #512 "v0.4.0 Roadmap"
## Summary

Catch-all for plans for our v0.4.0 release.

## Plans

#### For Admin Use

- [X] Not duplicate issue
- [X] Appropriate labels applied
- [X] Appropriate contributors tagged
- [X] Contributor assigned/self-assigned

[2021-11-23 17:01] nlsui opened #513 "recipe.Entries.ItemOutputs - index out of range"
## Summary of Bug

When executing a recipe with an empty "itemOutputs"-field pylonsd crashes with a "panic: runtime error: index out of range [0] with length 0".
The error is located at [pylons/x/pylons/keeper/complete_pending_execution.go](https://github.com/Pylons-tech/pylons/blob/main/x/pylons/keeper/complete_pending_execution.go#L109)

## Version

ae670cddd466efb5609aefff46a69b4e66c68cd3

## S

[2021-11-23 18:17] aljo242 opened #514 "Remove Conditionlist from recipe proto"
## Summary

The `ConditionList` proto message and its inclusion in the `ItemInput` type in `recipe.proto` is redundant and should be removed.

## Problem Definition

The types are defined as follows:

[code]

As can be seen, the `ConditionList` type is redundantly included in the `ItemInput` message, as internally, its fields are the same as the `doubles`, `longs` and `strings` fields.  Internally

[2021-11-24 15:10] #352 closed, assigned to nobody

[2021-11-24 17:07] #514 closed, assigned to MikeSofaer

[2021-11-24 20:24] #513 closed, assigned to nobody

[2021-11-25 00:02] #511 closed, assigned to MikeSofaer

[2021-11-29 19:09] aljo242 opened #522 "Use starport/cosmoscoin to improve coin parsing"
## Summary

`starport/cosmoscoin` provides a simple function, `Parse()` to make inputting coins easier for the CLI.

## Problem Definition

The [function](https://github.com/tendermint/starport/blob/v0.18.5/starport/pkg/cosmoscoin/coin.go) allows for strings formatted like "1000upylon" to be converted easily to sdk.Coin{} types.  Currently all CLI coin arguments have to be formatted as json, which

[2021-12-04 18:51] aljo242 opened #527 "Panic in complete_pending_execution"
## Summary of Bug

A runtime panic is triggered at block height 487514 for the pylons-testnet.  This happens at a `Mul()` operation on an `sdk.Dec()` in the `types.DoubleWeightTable.Generate()` function.

The line where the panic occurs is:

[code]

`randDec` is a valid-created `sdk.Dec`, so it is assumed that the access to `selectedWeightRange.Upper` is the null dereference.

More information inc

[2021-12-06 13:29] #522 closed, assigned to MikeSofaer

[2021-12-06 14:08] #527 closed, assigned to nobody

[2021-12-06 15:33] #512 closed, assigned to nobody

[2022-04-27 23:37] afti-githobo opened #560 "Prevent creation of cookbooks with IDs containing non-alphanumeric characters"
## Summary

At present, cookbook IDs can contain non-alphanumeric characters. This needs to be made impossible.

## Problem Definition

Coin denoms cannot contain non-alphanumeric characters; all denoms containing a non-alphanumeric character excepting the path separator are (to my understanding) invalid. Cookbook denoms automatically include the ID of the associated cookbook, which means that if

[2022-05-06 17:21] afti-githobo opened #561 "Update recipe message requires correct AmountMinted to be set"
## Summary of Bug

At present, recipe update transactions (over RPC? unclear if this matters) will be rejected (for trying to set AmountMinted to a different value) unless they have an AmountMinted that is equal to what currently exists on chain. There's no reason for AmountMinted to be modified, and it makes workflows significantly more fiddly and brittle.

## Version

whatever rpc.testnet.pylons

[2022-05-07 22:32] faddat opened #564 "SPM"
## Summary of Bug

SPM is dangerous.

We need to restructure the cmd folder like gaia's.

SPM keeps chains from keeping themselves up to date.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-05-24 08:50] faddat opened #570 "Two paths forward"
Path 1:  we keep what is here and upgrade it

Path 2: we base this chain from notional-labs/craft and then re-add pylons module

NB: when I say "use craft" I mean only its "base", not its "features"

[2022-05-24 14:48] MikeSofaer commented on #570
How do we go about thinking about this?

I think we have a relatively decent set of test cases for what the pylons module does, so pushing it onto a new chain base shouldn't be too insane. It would almost certainly require a reset, though, right?

[2022-06-04 12:12] faddat commented on #570
It seems we can accomplish without a rewrite, I'm closing this, for a much more detailed issue.

[2022-06-04 12:12] #570 closed

[2022-06-04 12:25] faddat opened #577 "Getting to a release"
## goal

The specific goal here is to bring pylons to a public release, and that public release should be able to do nonfungible tokens over ibc.

## steps
These should happen concurrently.

* Remove starport
Blockchain and CLI development should no longer use the Star port/ignite CLI. The reason for this is that they are moving further and further from the standards to find in the cosmos STK, and

[2022-06-04 12:57] MikeSofaer commented on #577
@faisalnaveedRNS @kjawadDeveloper2 @mustafapylons what are your thoughts on this?

[2022-06-04 18:13] kjawadDeveloper2 commented on #577
@faddat  since you have worked with other teams can you tell how much big this change is?

[2022-06-04 20:53] mustafapylons commented on #577
@faddat I think it makes sense. However there is potentially major impact to how we build our products and we need to take a phased approach and we have to test it in dev environment for each phase to ensure we haven't regressed any functionality.  Three questions:

1- When you have delivered this for other chains, what are lessons learned and how can we apply here?

2- What're the phases and time

[2022-06-11 01:32] vuong177 opened #583 "Spam Mitigation"
## Summary

## Problem Definition

- Pylons has no-fee transactions, so we need to create a prevent spam tx mechanism.

## Proposal

   - An account only can send a limited number of transactions in one block ( or a period ).
   - Number of transactions that can be sent is a param. This param could modify by on-chain government.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriat

[2022-06-11 03:08] MikeSofaer commented on #583
Makes sense to me. I think we also need to gate account creation with some kind of voucher system, sort of like fee grants. The simplest way to start is Firebase's App Check: https://firebase.google.com/docs/app-check

Having the chain validate an App Check token during account creation should be relatively simple, and work a lot like the Stripe and IAP vouchers, and will be very strong, I think.

[2022-06-13 06:32] faddat commented on #583
@vuong177 -- I think this is a great first pass. May want to check in with @faisalnaveedRNS and-- sir, thank you.

[2022-06-13 06:40] faddat commented on #583
Maybe we define some kind of order of implmentation?

1) Vuong's concept (frankly I am very interested to see how he accomplishes this.  Better than my own concepts, tho vulnerable to consistent abuse at exactly the limit)
2) App-check: this is going to be a very strange chain.  No one is doing this.  Love it.  this also complements Vuong's concept.

@faisalnaveedRNS -- I'd also like to know if yo

[2022-06-14 06:15] vuong177 commented on #583
@faddat @MikeSofaer  my implementation in that [branch](https://github.com/Pylons-tech/pylons/tree/spam-mitigation)
I'm going to write proto files. Please take a look!

[2022-06-15 17:13] MikeSofaer opened #586 "Stripe Payment Graceful Degradation"
## Summary

Currently the purchase process for an item can fail after the Stripe purchase completes, and then the buyer is either stuck with a Stripe receipt or with StripeUSD that the user should not have, since they have not set up Stripe

## Problem Definition

It's bad for Pylons to have Stripe transactions occur that do not result in the execution of a recipe. We should think through the fail

[2022-06-15 20:19] hieuvubk opened #588 "The proto structs for pylons should use snake_case"
Currently, the field names in pylons all use camelCase, but I believe the standard almost chain use is snake_case

[2022-06-17 15:23] hieuvubk commented on #561
@afti-githobo Is this bug fixed right? I tried and didn't see it anymore

[2022-06-20 14:28] #588 closed

[2022-06-20 17:26] hieuvubk commented on #586
@MikeSofaer Should we process the payment attached with recipe execution when it is complete? So, users' funds not be locked if the execution fails.

[2022-06-20 17:33] MikeSofaer commented on #586
I think we need to process the payment before we finalize on chain, the payment is the more reversible side. But we should do as much as possible to ensure that the execution does not fail (as in create a pre-execution that is on chain and only requires to payment voucher to be finalized)

[2022-06-20 21:22] hieuvubk commented on #586
![Ảnh chụp Màn hình 2022-06-21 lúc 04 19 22](https://user-images.githubusercontent.com/72878483/174679139-f5894c74-fa8f-4571-95b6-dc1268e0e2eb.png)
Hi why we move pendingExecution to Actualize here. I think when complete return err just remove the pending execution?

[2022-06-20 21:30] MikeSofaer commented on #586
We need to keep the history, I think that's what it's doing.

[2022-06-20 21:32] hieuvubk commented on #586
ah got it, thank u

[2022-06-20 22:10] hieuvubk commented on #586
@MikeSofaer https://github.com/Pylons-tech/pylons/pull/600 can you take a look at this pr, handle payment when the execution fails

[2022-06-21 02:47] MikeSofaer commented on #586
I think we don't ever want the buyer to have the payment coins, and it would be better to transfer the payment voucher to the seller and then mint the coins on the seller's account.

[2022-06-21 03:53] hieuvubk commented on #586
I don't know in the recipe execution context who buyer and seller( U mean executor and recipe owner?)
And also we process payment before execution is complete so coins are already minted to the executor, fee collector module. Should have a mechanism to revert this process?

[2022-06-21 04:17] MikeSofaer commented on #586
In this case recipe creator is the seller and recipe executor is the buyer.

What I'm saying is that I don't think we should process payment unless the execution succeeds. I think the executor should receive a voucher tied to the specific payment event off-chain, which can be used to process an off-chain refund if the execution does not succeed.

[2022-06-21 17:17] faddat opened #602 "Planning: State preservation between testnets"
Most likely, we will have another two testnets:

* v45 <- feature incomplete
* v46 <- feature complete

I am not very sure about moving state into the mainnet, due to "accumulation of junk".

@MikeSofaer can you please differentiate for me, what state we would like to get into mainnet?

It's possible to move state -- or do upgrades -- and preserve state.

However, we usually draw out some kind of

[2022-06-21 17:19] faddat opened #603 "Ensure that libs are up to date for pylons mobile app"
We're removing a ci job in #598.

We need to make sure that any/all libraries are made for the pylons mobile app, and pushed to ____?

[2022-06-21 18:51] faddat commented on #602
ouch but 🖖

will do

[2022-06-22 19:18] hieuvubk commented on #561
@MikeSofaer

[2022-06-22 21:07] MikeSofaer commented on #561
Not sure, @faisalnaveedRNS might know

[2022-06-24 11:34] pyramation opened #607 "more composable/interoperable protos"
Hello! I'm working on tooling to generate clients, and a lot of chains are using a "standard" naming convention for storing the proto files.

For example,

- [./proto/stargaze](https://github.com/public-awesome/stargaze/tree/main/proto/stargaze)
- [./proto/osmosis](https://github.com/osmosis-labs/osmosis/tree/main/proto/osmosis)
- [./proto/akash](https://github.com/ovrclk/akash/tree/master/proto/a

[2022-06-24 15:57] nghuyenthevinh2000 commented on #607
uh, sure, I will do this

[2022-06-30 14:54] faddat opened #615 "Proposed export technique & multisig / mgmt info"
## EXPORT PROCESS

* make a seed node using tinyseed
* embed that seed directly into the binary for future use
* connect to the chain in CI, from the previous release tag that the validators are running
* sync the chain (maybe ci won't permit the sync)
* use export to get the items
* move prior account state into the new genesis

Open questions:

## multisig / mgmt

I don't recommend using a multi

[2022-07-03 05:42] vuong177 opened #618 "NFT Transfers (wallet<to>wallet)"
## Summary
[PS 390](https://pylonstech.atlassian.net/browse/PS-390)
NFT Transfers

## Problem Definition

We need to enable NFT Transfers between any two Pylons wallets so Easel creators &/or Pylons app users can transfer a NFT to a friend for free if the NFT was not listed &/or available for sale. A Pylons user should be able to gift a NFT for free to another Pylons app user or share a special si

[2022-07-03 06:05] #618 closed

[2022-07-05 15:26] #607 closed

[2022-07-05 15:35] justyntemme opened #620 "Big Dipper Latency"
## Summary of Bug
Currently, big dipper transactions can take up to two minutes to load (sometimes closer to 10 min) https://wallet.pylons.tech/transactions

This isn't always the case and is intermittent. However, I feel it is related to the other latency issue where the block explorer cannot keep up with the latest block height. As a temporary solution, we have installed mongodb on the same serv

[2022-07-07 16:45] faddat commented on #620
We have provided new endpoints, did you get them?

[2022-07-09 17:51] faddat opened #625 "PRIORITY: test run time"
## Summary of Bug

This is a priority issue.  We shouldn't do other chain related work till it is solved.

We should reduce the time for a default ci test to 5 minutes or fewer.  The issue seems to be in the x/pylons folder, when we run:

[code]

In that folder, `go test` freezes.

I think this is because:

1) tests aren't run in parallel
2) we spin up and tear down many testnets in there

Current

[2022-07-11 03:12] nghuyenthevinh2000 opened #632 "How signature is generated?"
I want to ask how these signature is generated so that I can do testing

![Screenshot from 2022-07-11 10-10-28](https://user-images.githubusercontent.com/23058164/178181835-69417307-ee34-4c11-91bb-a67cefee8e40.png)

[2022-07-11 03:14] nghuyenthevinh2000 commented on #625
this one takes long time as well in x/pylons: TestKeeperTestSuite/TestGetRewardsDistributionPercentages

It starts a network and on my computer takes about several mins

[2022-07-13 01:14] faddat commented on #625
cool let's kill that.

[2022-07-13 15:12] nghuyenthevinh2000 commented on #632
Can you record the step to generate it. If you can record in a video, just love it.

I mean like the data structure will still change a lot in the future. Sometimes a code change that I write fails to pass signature related test and I really don't know whether the code leads to problem or the signature is obsolete somehow.

[2022-07-13 16:42] faisalnaveedRNS opened #640 "Push Notifications"
## Summary

Send Push Notifications when user NFT is sold out.
## Problem Definition

User will be notified when his NFT will be sold out.

New envelop icon next to banner image icon in top right corner which displays a red dot when there are unread messages
pop-up modal which prompts only when your NFT has been sold
Messages will only generate when NFTs are sold, created/transferred into your Col

[2022-07-13 17:19] faisalnaveedRNS opened #642 "SPIKE: obscure video NFT upload"
## Summary

Prevent copy right infringement on uploading a movie

## Problem Definition

how to prevent copyright infringement from potential Easel creators uploading a movie obtained illegally and then uploading to IPFS & listing the video NFT as available for sale on the Pylons app?

## Proposal

We case use google cloud base service to find video infringement
____

#### For Admin Use

- [ ] Not

[2022-07-13 21:30] faddat opened #644 "Ensure that payouts happen at transaction time"
We've removed the epochs module from Pylons.

We need to ensure that payouts happen at the time of transaction.

[2022-07-13 21:53] MikeSofaer commented on #644
Love this idea. Are you sure epochs are the right thing here? Giuseppe was sure we didn't want to do this stuff inline, but I wasn't so sure.

[2022-07-13 22:34] faddat commented on #644
I am not sure what you mean. What stuff are we discussing?

[2022-07-13 22:50] MikeSofaer commented on #644
The epoch module is used for paying out the chain commission. It doesn't seem like that should be so hard to do in the payment transaction. There aren't that many payment transactions!

[2022-07-14 11:02] abdullahjankhan1 commented on #632
The signature is generated at the mobile end, so I can't help there, but I am sure that the signature (it is a certificate that apple in-app-purchase returns to the mobile end) doesn't expire or gets obsolete.

[2022-07-15 16:20] faddat commented on #644
@MikeSofaer based on my read of the code, default behavior is to pay at transaction time.

So, without epochs, it should function as you describe.

[2022-07-18 02:25] #632 closed

[2022-07-18 06:21] faddat commented on #644
NB: we should test this, I won't close till we have verified the behavior.

[2022-07-18 13:54] faddat opened #665 "Testnet command needs to use the pylons module"
It is possible that we are running the testnet without the pylons module.

@faisalnaveedRNS @vuong177 @hieuvubk can you guys please check on this?

Basically, we just need to verify this matter.

[2022-07-21 06:06] faisalnaveedRNS opened #677 "NFT ETH BUY ISSUE"
## Summary of Bug
User unable to buy nft with IBC transferred enough eth ETH from axelar,

Refernce NFT is here
http://35.188.86.73:4018/?action=purchase_nft&recipe_id=&cookbook_id=Easel_CookBook_auto_cookbook_2022_07_20_020951_069

./pylonsd tx pylons execute-recipe Easel_CookBook_auto_cookbook_2022_07_20_020951_069 Easel_Recipe_auto_recipe_2022_07_20_021129_848 0 '[]' '[]' --from eth-account

[2022-07-26 13:08] nghuyenthevinh2000 opened #690 "Cosmos SDKv46 update"
- [x] API breaking
- [x] Pylons module migrate store
- [x] Upgrade handler: https://github.com/Pylons-tech/pylons/pull/684

Currently, these are problems that need to be resolved. @faisalnaveedRNS I am missing anything?

1. https://github.com/cosmos/cosmos-sdk/blob/main/CHANGELOG.md#api-breaking-changes-1

[2022-07-26 13:16] nghuyenthevinh2000 commented on #690
@hieuvubk
Migrate store code for pythons to move from camelCase to snake_case:

Example:
1. https://github.com/cosmos/cosmos-sdk/blob/main/x/gov/migrations/v046/store.go

[2022-07-27 15:26] kjawadDeveloper2 opened #694 "Decouple recipe from the cookbook"
Right now a recipe is only unique within the cookbook. We need this recipe to be unique through out the chain.

P.S: Right now all the queries and api calls need cookbookId to get info of a recipe. e.g get-recipe

[2022-07-27 15:35] MikeSofaer commented on #694
I think the situation is that recipes have both a user-created recipe name (not unique) and a unique ID. We should be able to query the recipe by the ID as well as by the combination of recipe and cookbook names.

[2022-07-27 15:50] kjawadDeveloper2 commented on #694
@MikeSofaer  if i get query the recipe by id it will help me to remove the cookbook id from the share url.

[2022-08-01 14:32] faisalnaveedRNS opened #707 "Chain Panic on v46 upgrade"
## Summary of Bug
on chain start system panic on Get balance

panic: math/big: cannot unmarshal "\n\bubedrock\x12\a4000000" into a *big.Int

goroutine 1 [running]:
github.com/cosmos/cosmos-sdk/x/bank/keeper.BaseViewKeeper.GetBalance({{_, _}, {_, _}, {_, _}}, {{0x2e2cd58, 0xc0001ac000}, {0x2e3e500, 0xc001377180}, ...}, ...)
	github.com/cosmos/cosmos-sdk@v0.46.0/x/bank/keeper/view.go:108 +0x20c
gith

[2022-08-01 14:34] vuong177 commented on #707
Thanks @faisalnaveedRNS. I'm digging on it

[2022-08-01 14:36] vuong177 commented on #707
Did you create a gov for update ? @faisalnaveedRNS

[2022-08-03 06:16] #707 closed

[2022-08-03 09:40] faddat commented on #602
resolved

[2022-08-03 09:40] #602 closed

[2022-08-03 09:41] #564 closed

[2022-08-03 09:41] faddat commented on #577
I think this is complete.

[2022-08-03 09:41] #577 closed

[2022-08-03 09:42] faddat commented on #665
resolved

[2022-08-03 09:42] #665 closed

[2022-08-03 09:42] #497 closed

[2022-08-03 09:43] #510 closed

[2022-08-03 09:43] #690 closed

[2022-08-03 09:43] faddat commented on #625
test time reduced to 3 minutes.

tests replaced with table driven tests.

e2e tests to be added later.

[2022-08-03 09:43] #625 closed

[2022-08-03 15:33] ThanhNhann opened #749 "Confuse about logic calculate fee in FulfillTrade function in msg_server_fulfill_trade.go"
## Summary of Bug
   - In `FulfillTrade` function I see a logic for calculate fee below:
https://github.com/Pylons-tech/pylons/blob/4729c616de0d4d3c0c52593fa4ad17db1bacf987/x/pylons/keeper/msg_server_fulfill_trade.go#L171-L175

   - From the initialization of `chainAmt `, `cookbookAmt `, we can see that `itemTransferFeeAmt ` = `cookbookAmt.Amount` + `chainAmt.Amount`, so that amount of `transferAm

[2022-08-03 15:53] MikeSofaer commented on #749
This logic definitely seems more complex than it needs to be. Are there tests?

Trade fees have a few properties:

1) The chain can set a minimum trade fee (this is a bit like a gas fee for trading)
2) The item creator can take a percentage.

The total fee is the sum of its parts so that part makes sense. I think line 173 looks wrong, but I'm not sure. I think we should definitely make sure we hav

[2022-08-03 17:44] faddat commented on #749
I think the best solution here is:

1) comment the code to say what each line should do
2) based on 1, refactor this logic
3) write tests

we could do 3 first, but either way, I hit this exact section of this file and my thought was "hrm.  better not touch this....'

[2022-08-03 18:03] ThanhNhann commented on #749
Yeah, I have the same thinking about the sum fee with you@MikeSofaer, and following steps with @faddat to check the code, tests will be added to check

[2022-08-03 19:23] MikeSofaer commented on #749
I am a huge proponent of tests before refactoring. It should only take 5 or 6 cases to lock down behavior and then we can refactor, and hopefully make it clear enough not to need step 1.

[2022-08-04 21:49] ThanhNhann commented on #749
Hi @MikeSofaer, do you have the document about the logic calculating fees of this function? I tested the code but to make sure it is wrong and refactor it, I need to know more about the logic behind it. I think trade fee has properties like you, but there are a lot of variables used that make confusion about how to get them

[2022-08-04 21:50] MikeSofaer commented on #749
OK, where are the tests? I can go through them.

[2022-08-05 13:01] ThanhNhann commented on #749
Sorry for the late @MikeSofaer, I have faced some mistakes about logic but now its done, pls check the cases () (I commented in detail on each case)
https://github.com/Pylons-tech/pylons/blob/556435e7cacfb7f949b1d2a7b55aa5fef7bbec46/x/pylons/keeper/msg_server_fulfill_trade_test.go#L492

[2022-08-05 13:16] ThanhNhann commented on #749
Do you have any documents for this trade logic @MikeSofaer

[2022-08-05 13:41] MikeSofaer commented on #749
I don't really understand them, but I am glad they are there. I will go through them soon. Does the logic make more sense to you now? Do you still think it is broken?

[2022-08-05 15:27] ThanhNhann commented on #749
Not yet sir, with the logic calculating fee, its mean the line of `Sencoins` below will always executed (with `tradeFulfillerAddr`and `tradeCreatorAddr ` are valid) because `inputTransferTotAmt` always equal zero. That mean free fee of pylon for this feature? right?

[2022-08-05 15:57] MikeSofaer commented on #749
The way it is supposed to work is that the creator can set a minimum fee for an item, and also the network can set a transfer fee for all items. The user receiving the item must pay enough to cover those minimum fees, even if the user sending it is not getting anything.

[2022-08-06 08:04] ThanhNhann commented on #749
Yeah I got you, but in this case, that fee always equals zero, I think this is an important point to think

[2022-08-07 23:06] afti-githobo opened #759 "Item ID provided when querying an execute-recipe transaction is not, in fact, the item id"
## Summary of Bug

When querying an execute recipe transaction that created an item with the CLI, the provided `itemId` field is populated with... something else.

cf.

https://pastebin.com/5N4jLHmm

`pylonsd query pylons get-item appTestCookbook 1550837-8901
Error: rpc error: code = InvalidArgument desc = rpc error: code = InvalidArgument desc = not found: invalid request`

(the actual id of the

[2022-08-08 22:35] mustafapylons opened #764 "BedRock Dividend has to be calculated correctly."
## Summary

In order to make this testable, we must set up a chain in keplr and suggest tokens to display (i.e. stripe USD, pylons &/or bedrock) for both internal users & validators --> Are the right people getting the right stablecoins suggested to them based on whether they are a validator or unaffiliated user?)

## Proposal

Auto detect wallet address in keplr and display the appropriate stable

[2022-08-10 13:11] MikeSofaer opened #772 "Pylons points must not be transferable"
Jawad let me know that he can send them from the console. This should not be permitted, Pylons Points should only be able to be spent in recipes or burned.

[2022-08-10 21:53] mustafapylons opened #775 "Trying to Purchase NFT using USD, Stripe Server accepts the payment and it fails on the Chain Side."
We are able to enter the test card and it submits and says payment went through and gives the next screenshot error with Memory Issue from Chain.
![Stripe Payment Fail from the chain after putting Test Card In](https://user-images.githubusercontent.com/93538775/184047851-7300d68e-a8d4-4020-9530-1d6263217cdc.png)

## Summary of Bug

## Version

## Steps to Reproduce

1-Click on a NFT from the app t

[2022-08-11 00:09] #560 closed

[2022-08-11 02:43] vuong177 commented on #772
@MikeSofaer could you provide txhash ?

[2022-08-11 02:45] MikeSofaer commented on #772
@kjawadDeveloper2 can you send some Pylons and provide a txhash please?

[2022-08-11 10:33] abdullahjankhan1 commented on #775
@mustafapylons @MikeSofaer @faddat
The issue that we are facing is from our blockchain.
Reason: When the validators updated to the new version of our blockchain their ParamSpace was already set with our old naming convention, i.e. camel case, now the issue is that we expect to receive our params in snake_case format while the result of a query from blockchain is in form of camel case.
This issue w

[2022-08-11 23:35] mustafapylons opened #778 "Updating readme.md file"
## Summary
Let's update readme.md file with the attached file.
[README.md](https://github.com/Pylons-tech/pylons/files/9312653/README.md)

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-12 04:09] heyitsjk commented on #778
need clarification on this from @MikeSofaer -- are we "Pylons LLC" or "Pylons, Inc."?

[2022-08-12 04:12] MikeSofaer commented on #778
We became Pylons Inc. in April 2021

[2022-08-12 17:33] heyitsjk commented on #778
new file with updated company tag + mike's docker instructions :
[README.md](https://github.com/Pylons-tech/pylons/files/9328845/README.md)
s

[2022-08-12 17:34] heyitsjk commented on #778
new file with updated company tag + mike's docker instructions :
[README.md](https://github.com/Pylons-tech/pylons/files/9328851/README.md)

[2022-08-12 17:35] heyitsjk commented on #778
new file with updated company tag + mike's docker instructions :
[README.md](https://github.com/Pylons-tech/pylons/files/9328858/README.md)

[2022-08-13 00:10] #603 closed

[2022-08-13 00:10] #586 closed

[2022-08-14 00:09] #561 closed

[2022-08-15 22:25] afti-githobo opened #788 "Using local keys to sign transactions while using gRPC endpoints"
## Summary

It should be possible to use the Pylons client to submit transactions over gRPC while using a local keypair to do that. It may be possible to do this already, in which case a how-to would be a perfectly cromulent resolution to this issue.

## Problem Definition

At present, it's trivial to use a local keypair for signing transactions with the CLI client, but the CLI is supposed to be d

[2022-08-16 14:35] faddat commented on #788
did you for real just say cromulent?

amazing

[2022-08-16 15:47] afti-githobo commented on #788
I mean, it's fine, and I want to stress that I don't *know* that this is actually a technical problem. It could, as allowed for here, just be a well-supported thing that I don't know how to do, in which case it's a *documentation* problem.

My *understanding* of the situation as it stands: the gRPC endpoints are the selfsame ones the mobile wallet is using, and so work w/ signed transactions. The

[2022-08-17 12:18] faddat commented on #759
Does this bug still exist?

[2022-08-18 12:50] StefanB90 opened #805 "Evently Ticketing MVP"
## Overview

In anticipation of the Cosmoverse conference, we will demonstrate one of the potential applications of our tech stack by creating an event manager app that allows event hosts to issue customized NFT tickets 🎟 for in-event experiences.

We must create a new recipe/item paradigm based on the proposed UX where an event attendee scans a vendor QR code at the entrance to the event, which p

[2022-08-18 13:49] StefanB90 opened #807 "Add "Submit Feedback" functionality"
## Summary

We must make it easier for users to submit feedback by adding the capability for users to share their feedback to the flag icon located at the top right corner of the NFT fullscreen view, as well as at the bottom of the Settings menu underneath "Legal" and above "Delete Wallet"

## Problem Definition

Currently, our users can only submit feedback requests on our support channel in Disc

[2022-08-18 14:52] StefanB90 opened #809 "Revert Easel UX / UI to Continue & Save as draft"
## Change request

Please remove "Next" from the top right of all Easel screens and revert back to using the Continue button at the bottom of the screen (where "Save as draft" is currently) and replace "Discard" with "Save as draft" at the bottom of the screen in grey text

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [

[2022-08-18 15:15] kjawadDeveloper2 opened #811 "Add a script to auto create proto files for wallet."
If any proto structure change on the chain side. It should auto create the dart files for them on the wallet side and the pylons sdk side.

[2022-08-18 15:16] StefanB90 opened #812 "Upload Status = Success message should not be displayed unless the file has been successfully uploaded to IPFS"
## Summary of Bug

Status = Success message in the IPFS Upload confirmation box that appears once an Easel creator uploads their file to IPFS should not be displayed until the file is actually successfully uploaded. If the file is loading, the message should display "in progress" or "processing" in pylons yellow font color (#FED564). If it fails to upload, then it should display "Failed" in pylons

[2022-08-18 15:49] kjawadDeveloper2 opened #813 "CI for wallet app"
`flutter analyze .` checks static analysis issue.

`flutter format .` formats the app.

`flutter test`  run the test for the app.

`flutter build appbundle --flavor prod -t lib/main/main_prod.dart` is used for building a production build for android

`flutter build ios --flavor prod -t lib/main/main_prod.dart` is used for building a production build for ios

[2022-08-18 15:53] Tanyaml opened #814 "When Android User Purchasing NFT- User Should be Directed to Pylons App to purchase NFT"
**Actual Results:**

When Android user clicks on NFT to purchase or view from Artist, User is directed to Big Dipper.

**Expected Results:**

Android User clicks on NFT to purchase or view from Artist, User will be directed to Pylons App.

Please see video:

https://user-images.githubusercontent.com/93543576/185439551-e3863dbd-1108-46f4-98d9-e54302c7d08a.mov

[2022-08-18 15:59] Tanyaml opened #815 "Android User clicks on NFT to purchase or view from Artist, User should be directed to Pylons App"
## Summary of Bug

When Artist shares link to purchase NFT- User should be directed to Pylons App and purchase NFT from Pylons App.

Actual Results:

When Android user clicks on NFT to purchase or view from Artist, User is directed to Big Dipper.

Expected Results:

Android User clicks on NFT to purchase or view from Artist, User will be directed to Pylons App.

## Version
Latest Build of Android

[2022-08-21 00:10] #615 closed

[2022-08-22 06:36] aliirns commented on #811
protocgen.sh was updated... closing

[2022-08-22 06:36] #811 closed

[2022-08-22 09:49] faizhashmiRnS commented on #807
HI @StefanB90 ,

1. we will have just description box when user presses flag button from NFT view but we will have both "Subject" and "Description" fields when user come from settings > Feedback, right?

2. Where to push data when user presses "Submit" ?

[2022-08-22 10:45] faizhashmiRnS commented on #812
Hi @StefanB90 , It only shows that dialog when image is successfully uploaded. It anything goes wrong it will not show the dialog.
The loading or shimmer effect you see in the dialog is basically to load the thumbnail of that NFT.
Should we replace the dialog success status with the thumbnail loading status?

[2022-08-22 14:25] StefanB90 commented on #812
@faizhashmiRnS if the thumbnail is shimmering then Status = In progress

If thumbnail is displayed and file is indeed uploaded to IPFS (meaning I can click view on IPFS for 2D images, audio & video files) then Status = Success

[2022-08-22 17:54] faddat opened #823 "Wallet: Path to done"
## immediate

* all packages in the wallet should be published to pub
  - [ ] tendermint packages
  - [ ] pdf viewer
  - [ ] android webview
  - [ ] alan
  - [ ] any others

 - [ ] packages in the wallet must not depend on git repositories and a commit hash
 - [ ] the wallet must not use any version overrides
 - [ ] customizations to any wallet dependency (alan) should be in this repository
 - [ ]

[2022-08-22 18:35] Tanyaml opened #824 "When user is in Easel in Creator Hub viewing 3D NFT viewing Full Image- the 3 doted menu option does not appear"
Actual Results:
When user is Easel and creates a Draft & Published when viewing the Full Image the 3 doted menu options does not appear to click for Publish, Delete and Copy CID

Expected Results:
When user is in in Easel in Creator Hub in the Draft tab and  viewing the Full Image the 3 doted menu options SHOULD appear to click for Publish, Delete and Copy CID when user is in Draft and when user i

[2022-08-22 19:57] Tanyaml opened #825 "When User clicks on NFT on Pixel 4 Device UI is incorrect"
## Summary of Bug
Actual Results:
When User clicks on NFT on Pixel Device UI is incorrect;
When user clicks on NFT:
1.  The  NFT image does not have the mobile template with the image
2. The TITLE , OWNERSHIP, NFT DETAIL, HISTORY not seen unless user clicks arrow
3. The Purchase button is on the wrong side- it should be on the right

Expected Results:
When User clicks on NFT on Pixel 4 Device UI
W

[2022-08-22 20:12] Tanyaml opened #826 "When User is in Pylons Wallet Purchasing Pylons On Galaxy A8 + Pixel 3 "Something went wrong" message pops-up"
## Summary of Bug
Actual Results:
When User is in Pylons Wallet Purchasing Pylons On Galaxy A8 + Pixel 3- "Something went wrong" message pops-up.

Expected Results:
When User is in Pylons Wallet Purchasing Pylons On Galaxy A8 + Pixel 3- User should be able to purchase and have added pylons to the wallet and user can now purchase NFT.

Please see video:

https://user-images.githubusercontent.com/93

[2022-08-22 20:36] mustafapylons opened #827 "Need more meaningful message than "Something went wrong" during error scenarios."
## Summary of Bug

We should change the message "Something went wrong" to "Something went wrong. Try restarting the app."

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-22 21:16] mustafapylons opened #828 "Remove view counts from BigDipper. (This is not working at the moment)."
## Summary of Bug

Remove view counts from BigDipper. (This is not working at the moment).

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-22 22:23] mustafapylons opened #829 "Pylons App should have capability to make NFTs created by blacklisted users invisible."
## Summary

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-23 03:54] faisalnaveedRNS commented on #828
I think there already API that are ready, we only need to connect with them

[2022-08-23 03:55] faisalnaveedRNS commented on #828
@abdullahjankhan1 please follow with the Big dipper team to finalize it

[2022-08-23 05:01] mustafapylons opened #831 "Easel should only price USD or Pylons for now."
## Summary

Easel should only price USD or Pylons for now.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-23 05:33] StefanB90 opened #832 "Grey shadow skeleton placeholder for new drafts where thumbnail is not yet available"
## Summary

Given the variability in IPFS upload time in order for Easel or Evently to display the NFT thumbnail image in the Creator Hub or Event Hub respectively, we've created a grey skeleton image that can be used until the thumbnail image can be properly displayed:

![Screen Shot 2022-08-22 at 5 40 20 PM](https://user-images.githubusercontent.com/97635071/186023730-a72afad9-0099-489a-a334-17b

[2022-08-23 05:36] StefanB90 commented on #824
@faizhashmiRnS this is because of the white background associated with that specific 3D NFT referenced above. @christine addressed this issue when she made the background icons for the banner image in the Pylons app change to a darker color based on the background color. Please leverage this code she created and implement it in Easel to address this issue.

[2022-08-23 05:44] MikeSofaer commented on #824
I think the whole image should be the click target for the menu.

[2022-08-23 06:01] faizhashmiRnS commented on #824
@StefanB90 Agreed. But if we set dark color in case of 3D, this will work fine with 3D. But if what if we have a white thumbnail for Audio, Video or a White Image NFT. The white three dot menu color will still be invisible.

[2022-08-23 06:15] MikeSofaer commented on #824
This is why the whole image should be the click target

[2022-08-23 14:10] StefanB90 opened #835 "Big Dipper Mobile Browser Layout"
## Summary

[https://www.figma.com/file/KgrDNaC6Cbn445c17qrx0j/block-explorer?node-id=784%3A911](url)

![image](https://user-images.githubusercontent.com/97635071/186179858-48b5b58f-7aa8-4b49-b1ca-4681fb1d13b0.png)

[https://www.figma.com/file/KgrDNaC6Cbn445c17qrx0j/block-explorer?node-id=794%3A35](url)

![image](https://user-images.githubusercontent.com/97635071/186180055-e06efe45-6fc1-422e-8c9c-

[2022-08-23 14:13] StefanB90 commented on #835
[https://pylonstech.atlassian.net/browse/PS-491](url)

[2022-08-23 14:16] StefanB90 opened #836 "NFT Links do not load on Google Pixel 3"
## Summary of Bug

Blank screen shows up using any of the NFTs on Android phone, Google Pixel 3:
![image](https://user-images.githubusercontent.com/97635071/186181391-ef279362-6b6b-434b-a222-884882202989.png)

## Version

created August 13, 2022

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-

[2022-08-23 14:16] StefanB90 commented on #836
[https://pylonstech.atlassian.net/browse/PS-530](url)

[2022-08-23 14:38] StefanB90 opened #837 "Pylons App Widget"
## Summary

During Apple’s WWDC in June, they announced a new feature for iOS 16 in terms of personalizing lock screens. After investigating this feature, it appears that creating a custom widget for the pylons app would be the best approach in order to capitalize on this new feature and enable pylons app users to showcase their NFT collection beyond the Collections tab in the pylons app.

To crea

[2022-08-23 14:39] StefanB90 commented on #837
[https://pylonstech.atlassian.net/browse/PS-484](url)

[2022-08-23 14:46] StefanB90 opened #838 "Messages & Push Notifications"
## Summary

![image](https://user-images.githubusercontent.com/97635071/186187662-00abb910-3d01-4dd9-ba9f-8477abb6360f.png)

**To start, we will have four push notifications/in-app messages:**

1. “You’re NFT [NFT Title] has been sold. Your total proceeds are [$XYZ USD]”
2. “The first edition of [NFT Title] has been sold. Your total proceeds are [$XYZ USD]”
3. “Half of the editions for [NFT Title]

[2022-08-23 14:49] StefanB90 commented on #838
https://pylonstech.atlassian.net/browse/PS-349

[2022-08-23 14:52] StefanB90 opened #839 "Load Testing Harness"
To get us ready for mainnet, need to be able to load test. Many transactions simulated on-chain simultaneously.

transaction primitive language has not been tested, so we must ensure we implemented it so that it is fast under different scenarios.

next step → incentivize people to take down our chain.

How can we be confident that the app check is truly working as intended?

**GOAL: hitting 50 tps

[2022-08-23 14:52] StefanB90 commented on #839
[https://pylonstech.atlassian.net/browse/PS-447](url)

[2022-08-23 14:58] StefanB90 opened #840 "Populate Ownership, NFT Detail & History with real data"
## Summary

Please populate the three expandable subsections of the NFT full screen view (pop-up box maximized) with real data pertaining to the NFT:
![image](https://user-images.githubusercontent.com/97635071/186190830-5b81b462-9c73-4935-8d4b-c965bfcadeba.png)

Per @abdullahjankhan1 These are the endpoints for item history:
GetItemOwnershipHistory → Item history
{grpc_endpoint}/pylons/item_histor

[2022-08-23 14:58] StefanB90 commented on #840
[https://pylonstech.atlassian.net/browse/PS-52](url)

[2022-08-23 15:01] StefanB90 commented on #807
@justyntemme can this information be stored in mongoDB or a SQL DB?

[2022-08-23 15:10] MikeSofaer commented on #807
We can probably use Firebase for this

[2022-08-23 15:14] StefanB90 opened #841 "Release process for blockchain upgrades"
Create release notes for next blockchain update

[2022-08-23 15:15] StefanB90 commented on #841
Simultaneously, we can tie this in with the Lessons Learned Working Doc [https://pylonstech.atlassian.net/browse/PS-490](url)

[2022-08-23 15:20] StefanB90 opened #842 "App check not working for console"
## Summary of Bug

app check is not working --> not detecting if a token is real

was able to create app check for any console and it wasn't verifying anything at all.

Purpose of app check is to prevent spam. We need app check on the client & console-side.

Create console account on your phone and import seed phrase.

## Version

reference @afti-githobo test build

____

## For Admin Use

- [ ] N

[2022-08-23 15:21] StefanB90 commented on #842
Long-term goal: use AuthZ

[2022-08-23 15:21] StefanB90 commented on #842
no mobile yet, will need one soon.

[2022-08-23 15:27] StefanB90 commented on #824
Resolved: for all thumbnails in Draft section --> remove three dots and make the whole image clickable

[2022-08-23 15:48] afti-githobo opened #843 "Cel execution is broken when a recipe contains rand() calls/potentially other customs?"
## Summary of Bug

When executing a recipe that contains a cell expression that calls the integer rand() function (tested, possibly others?) *no* cel expressions attached to that recipe will execute. The recipe will run and do nothing. Removing the expression that uses the rand() function, however, will cause the other expressions to start working again.

## Version

v1.0.0-rc1

## Steps to Reprod

[2022-08-23 16:45] kjawadDeveloper2 opened #844 "Add builds creation of android for easel and wallet."

[2022-08-23 20:30] mustafapylons opened #845 "Firebase driven SKUs should be possible."
## Summary

Firebase driven SKUs should be possible.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-23 21:13] heyitsjk opened #846 "update readme (again)"
Summary
Let's update readme.md file with the newest attached file.

+ includes updated Pylons branding, company name, & social links.
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-23 21:18] heyitsjk opened #847 "Add support for .GIF uploads to Easel"
## Summary

Add support for .GIF uploads to Easel

## Problem Definition

GIFs are widely used within the NFT community, it makes sense for Easel to support this format when we support a multitude of other image formats. IPFS supports the uploads of .GIFs

## Proposal

Add the ability to upload .GIF files to Easel.
Add the ability for the Pylons app/Big Dipper to display .GIF uploads.

____

####

[2022-08-23 21:27] heyitsjk commented on #846
[README.md](https://github.com/Pylons-tech/pylons/files/9410725/README.md)

[2022-08-24 04:22] AbdullahJanKhan commented on #825
@Tanyaml Can you please share the screenshot for incorrect UI

[2022-08-24 04:26] abdullahjankhan1 commented on #775
This issue is fixed in:
PR# https://github.com/Pylons-tech/pylons/pull/783

[2022-08-24 04:30] abdullahjankhan1 commented on #828
It will be fixed with
PR https://github.com/Pylons-tech/pylons/pull/833

[2022-08-24 05:45] faisalnaveedRNS commented on #835
@StefanB90 please close this issue, this is already done

[2022-08-24 06:17] faizhashmiRnS commented on #824
@StefanB90 should it be same in case of Published NFTs section?

[2022-08-24 06:35] faizhashmiRnS commented on #824
@kjawadDeveloper2 I have made the whole grid clickable and further in case of 3Ds I have set the background color a bit grey.

Does this need any changes and should it be same for Published NFTs and Drafts?

[2022-08-24 06:36] kjawadDeveloper2 commented on #824
Revert it back to white background. And make the items of the Grid layout clickable.

[2022-08-24 09:19] faizhashmiRnS commented on #847
@kjawadDeveloper2 Can you please mention the design for this feature?

[2022-08-24 10:51] faizhashmiRnS commented on #826
@kjawadDeveloper2  We are currently unable to reproduce this issue on our end. After even trying on the phones mentioned above.

[2022-08-24 11:02] faizhashmiRnS commented on #829
@kjawadDeveloper2 This needs more discussion.

[2022-08-24 12:44] abdullahjankhan1 commented on #825
Is fixed in PR https://github.com/Pylons-tech/pylons/pull/865

Screen Outputs:

![image](https://user-images.githubusercontent.com/101688102/186421495-20eafa65-2240-40f6-8267-c5366df961f6.png)

![image](https://user-images.githubusercontent.com/101688102/186421385-25dc046a-7297-41a4-b2dc-4121b2a84b77.png)

[2022-08-24 13:30] Tanyaml commented on #825
@AbdullahJanKhan @faisalnaveedRNS  This is not correct. Please see video on how it is supposed to look.

https://user-images.githubusercontent.com/93543576/186431253-6ce25b79-3ab3-4695-8612-3e42e8769e7a.mov

[2022-08-24 14:50] MikeSofaer commented on #847
It should be supported as a type of image file, no design changes.

[2022-08-24 14:52] kjawadDeveloper2 commented on #845
@MikeSofaer @mustafapylons @StefanB90  can you tell me how we will make design dynamic?   How we will now that how much bonus coins are in a package?

[2022-08-24 14:59] MikeSofaer commented on #845
The chain has to have all the options programmed in for now, I'm not sure how we'd make it reliable otherwise. So it would be a list of the subset to display.

[2022-08-24 15:21] StefanB90 commented on #826
@StefanB90 test on Samsung device to see if this is device specific or Android overall

[2022-08-24 15:23] StefanB90 commented on #847
Let's go with option #1 and allow user to pick .GIF from Images

Thank you

[2022-08-24 20:01] Tanyaml opened #871 "Pylons Wallet Language Settings Errors"
## Summary of Bug
Pylons Wallet Language Settings Errors: please see below

English working as expected
Russian works as expected 
Indonesia works as expected 

**German is not working as expected**
1.Language shows Deutsch which is Incorrect- should be German**
2.In the security tab  there should be no hyphen (-) near the word ID  
3.Hyphen letters are bold any letter that has a hyphen it is bold

[2022-08-24 20:03] kjawadDeveloper2 commented on #871
@faizhashmiRnS  kindly look into it.

[2022-08-24 20:05] kjawadDeveloper2 commented on #845
@faisalnaveedRNS mobile side is now getting it from firebase remote config. Is there anything that chain has to do . Kindly look into it.

[2022-08-24 20:29] heyitsjk opened #872 "Easel Language Updates"
## Summary of Bug

Update English i18n for some strings (grammar/formatting corrections) + Add some missing Russian i18n keys to Easel

[en-US.txt](https://github.com/Pylons-tech/pylons/files/9419242/en-US.txt)
[ru-RU.txt](https://github.com/Pylons-tech/pylons/files/9419243/ru-RU.txt)

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors

[2022-08-25 03:01] Tanyaml opened #877 "Big Dipper Link for NFT Mobile Purchase Not Working As Expected on Android & iOS Production Env."
## Summary of Bug
The following errors occur when user clicks Link for NFT Mobile Purchase: Android Device in Production Environment

1. Views is still not removed
2. Image is stretched out and looks off
3. When user clicks on ownership the Tab view is scaled off- it is stretched out vertical outside the actual frame
4. When user clicks buy they are directed to Wallet- Collection Tab  and then is

[2022-08-25 08:41] heyitsjk opened #878 "Pylons Language Updates"
## Summary

Update English i18n in Pylons for some strings (grammar/formatting corrections) + Add missing keys to all other languages.

- Also addresses some i18n corrections in #871 + Attempted formatting fix for hyphenated letters.

New: line numbers all now match the EN file. So finding a key in one language will be on the same line in other i18n files.

[de.txt](https://github.com/Pylons-tech/

[2022-08-25 09:06] #872 closed

[2022-08-25 10:57] faizhashmiRnS commented on #878
@kjawadDeveloper2 should we replace these i18n files mentioned above with the files in Wallet?

[2022-08-25 11:42] abdullahjankhan1 commented on #877
@Tanyaml @StefanB90

Updated UI Screenshot.
PR https://github.com/Pylons-tech/pylons/pull/882

![image](https://user-images.githubusercontent.com/101688102/186654679-e7940cab-39ce-4c4f-9d2e-d3bef5541318.png)
Will go up to a limit and then we will have our subsections as scrollable

![image](https://user-images.githubusercontent.com/101688102/186654800-a0a97f2f-e5bb-412f-8766-a326d0326978.png)
Imag

[2022-08-25 14:56] StefanB90 opened #883 "DevTool 2.0"
## Summary

- setting up pylonsd from zero on win/linux/macos w/o starport dependencies (optimally, from a binary distribution to avoid the go dependency, at least on the win side - doing go stuff on win sucks)

- setting up credentials/any post-install environment config to make the thing Work

- nice example project w/ a couple of cookbooks and a decent handful (5-6) of recipes interacting in ea

[2022-08-25 15:01] kjawadDeveloper2 commented on #878
i will do it .

[2022-08-25 15:10] heyitsjk commented on #878
Just paste whats in each .txt into the corresponding .json file - as GitHub won't let me upload .json files to these reports

[2022-08-25 15:14] Tanyaml opened #884 "Big Dipper NFT Purchase Tablet Errors"
## Summary of Bug

Galaxy not working as expected
When user is clicking on shared NFT- White Screen is Appears.

![Galaxy A8  Error](https://user-images.githubusercontent.com/93543576/186702863-dcfa1784-a081-459a-bd38-7e1e1fcb4b45.jpg)

iPad not working as Expected
When user is clicking on shared NFT- NFT is cut off

![iPad Big Dipper Error ](https://user-images.githubusercontent.com/93543576/1867

[2022-08-25 15:34] faisalnaveedRNS commented on #884
Samsung  it is not working, @abdullahjankhan1 any way to get logs on mobile

[2022-08-25 16:27] StefanB90 opened #887 "Rename coin to points in IAP module for PYLN"
## Summary of Bug

we must ensure we refer to PYLN as points not coins. In the in-app purchase pop-up, we refer to PYLN as coins. Please rename it to points.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-25 16:44] MikeSofaer commented on #883
One thing I would like to add is an instant full rest for 9 Pylons Points.

[2022-08-25 18:30] abdullahjankhan1 commented on #842
@afti-githobo can I get the app check I need to verify before making the PR? I have enabled it.
Thanks

[2022-08-25 21:22] Tanyaml commented on #871
@kjawadDeveloper2

Please see below the following issues that been  fixed and not fixed stated near Issue. Note there is a few new issues as well please see new screenshots and video attached.

German is not working as expected
1.Language shows Deutsch which is Incorrect- should be German** **NOT FIXED**
2.In the security tab  there should be no hyphen (-) near the word ID: FIXED
3.Hyphen letters

[2022-08-25 21:38] Tanyaml opened #888 "When User Opens Pylons App after 10 mins or more- Network Error Message Pops Up"
## Summary of Bug
When User Opens Pylons App after 10 mins or more- Network Error Message Pops Up Note: I have Wifi and it is working properly.
Note: I was working on previous bug and exit the pylons and came back to retest after 10 mins and Pylons and Network Error message popped up, this occurs in Dev and Prod and on iOS and Android.

Please see video:

https://user-images.githubusercontent.com/

[2022-08-25 21:48] Tanyaml commented on #884
@faisalnaveedRNS  I have tested this again on Galaxy A8- and NFT can be preview but still it not working as expected.
The NFT wire frame is cut off.

Please see video:

https://user-images.githubusercontent.com/93543576/186775057-f628d98f-4a83-4cb7-9a29-1e7744d21ddf.mov

[2022-08-25 22:21] afti-githobo commented on #883
implemented this

[2022-08-25 23:11] #847 closed

[2022-08-26 03:29] Tanyaml opened #891 "Big Dipper Video NFT Purchase Preview Not Working As Expected"
## Summary of Bug:
**Note this is happening in both Production and Latest Version on  Pylons on Android & Web Browser
Video NFT Preview Not Working As Expected
1. When User clicks on Link to purchase NFT- the image of the video is too small.  When User clicks on buy and is  directed to wallet Video NFT is working as expected and this is what should be displayed.
Please see video:

https://user-ima

[2022-08-26 03:45] Tanyaml opened #892 "Big Dipper Audio NFT Purchase Preview Not Working As Expected"
## Summary of Bug
**Note this is happening in both Production and Latest Version of Pylons on Android & Web Browser**
Audio NFT Preview Not Working As Expected
1. When User clicks on Link to purchase NFT-Audio NFT does not have image and the audio playback toggle is positioned to high, When User clicks on buy and is directed to wallet this is the actual Audio NFT is working as expected and this is

[2022-08-26 03:58] Tanyaml opened #893 "Big Dipper PDF NFT Purchase Preview Not Working As Expected"
## Summary of Bug
PDF NFT  Purchase Preview Not Working As Expected
**Note this is happening in both Production and Latest Version of  Pylons on Android & Web Browser**

1. When User clicks on Link to purchase NFT-PDF NFT does not have the actual PDF pages to view it only has the image uploaded for the PDF , When User clicks on buy and is directed to wallet this is the actual PDF pages are seen an

[2022-08-26 04:30] Tanyaml opened #894 "Big Dipper 3DNFT Purchase Preview Not Working As Expected"
## Summary of Bug
**Note this is happening in both Production and Latest Version Pylons on Android & Web Browser
3D NFT Preview Not Working As Expected

1.When User clicks on Link to purchase 3D NFT- the image of the 3D does not appear and the toggle icon is in the wrong position, when user then tries to preview 3D in 3D mode nothing is seen . When User clicks on buy and is directed to wallet 3D N

[2022-08-26 05:07] faizhashmiRnS commented on #871
Hi @Tanyaml , Can you please elaborate this line a bit?

""Main settings page format off- too long""

Thanks

[2022-08-26 06:00] faisalnaveedRNS commented on #845
[
  {
    "id": "pylons_10",
    "bonus": "",
    "subtitle": "$1.00",
    "pylons": "10 PYLN"
  },
  {
    "id": "pylons_35",
    "bonus": "(+5 Bonus)",
    "subtitle": "$3.00",
    "pylons": "35 PYLN"
  },
  {
    "id": "pylons_60",
    "bonus": "(+10 Bonus)",
    "subtitle": "$5.00",
    "pylons": "50 PYLN"
  }
]
@aliirns please check chain have following skus

[2022-08-26 06:07] faizhashmiRnS commented on #887
**For IOS:**
![image](https://user-images.githubusercontent.com/106378847/186833159-7eb25b36-aded-4e9e-b70b-71eb4042205f.png)

**For Android:**
![image](https://user-images.githubusercontent.com/106378847/186833253-7df76118-55d3-413c-87fa-fcd75edb4fa6.png)

@kjawadDeveloper2 , It shows coins on Android but points on IOS side.
Can you please update the products description on AppStore account and r

[2022-08-26 10:13] aliirns commented on #845
We cannot perform Firebase calls from the chain , as it involves storing secrets which would be a security concern .
SKU's already exist in `x/pylons/types/params.go`

[code]

[2022-08-26 10:21] faizhashmiRnS commented on #840
@kjawadDeveloper2 can we close this issue if its approved and tested?

[2022-08-26 10:21] faizhashmiRnS commented on #832
@kjawadDeveloper2 can we close this issue if its approved and tested?

[2022-08-26 10:25] faizhashmiRnS commented on #840
@kjawadDeveloper2 can we close this issue if its approved and tested?

[2022-08-26 13:44] Tanyaml commented on #871
Hi @faizhashmiRnS  The actual format of the main settings page for the bottom does not have a closing to the box, hence it is scaled over the box. Please ping me if you need more explanation @Tanyaml

Please see the screenshot of the correct scaled format main settings page.

![Correct Format Of Main Settings Page](https://user-images.githubusercontent.com/93543576/186916846-f1b00307-4298-4128-9ae

[2022-08-26 14:36] faisalnaveedRNS commented on #884
not able to reproduce yet

[2022-08-26 14:37] faisalnaveedRNS commented on #835
@Tanyaml i think this is already done, can we close this issue

[2022-08-26 14:38] StefanB90 commented on #887
@faizhashmiRnS @kjawadDeveloper2 please use PYLN in IAP for both Apple & Google instead of coins or points

[2022-08-26 14:38] faisalnaveedRNS commented on #825
i think these is also resolved

[2022-08-26 14:39] faisalnaveedRNS commented on #825
@Tanyaml

[2022-08-26 14:39] Tanyaml commented on #835
@faisalnaveedRNS  Yes it is done. We can close it @StefanB90

[2022-08-26 14:40] Tanyaml commented on #825
@faisalnaveedRNS  @StefanB90 Yes we can close this.

[2022-08-26 14:45] Tanyaml opened #897 "When User is Purchasing Video NFT- Hovering Transparent over Box Buy Button"
## Summary of Bug
When User is Purchasing Video NFT- Hovering Transparent over Box Buy Button for the first 30 seconds and disappears.
There should be no hovering transparent box over the actual Buy button.
Please see video and Screenshots:

https://user-images.githubusercontent.com/93543576/186929048-d65fddf2-4b39-47e4-95ab-c400909f5f99.mov

<img width="491" alt="Hovering box over buy button " sr

[2022-08-26 14:45] MikeSofaer commented on #887
Part of the reason to call them points is to make sure everyone understands that they are not a cryptocurrency.

[2022-08-26 15:02] faisalnaveedRNS commented on #845
@kjawadDeveloper2 cleared from our side

[2022-08-26 15:04] StefanB90 commented on #887
per standup, wherever PYLN is mentioned, please put "points" instead

on Google IAP remove Pylons and just put "points"

on Apple IAP, rename coins "points"

on Pylons app, rename PYLN to "points"

[2022-08-26 15:25] kjawadDeveloper2 commented on #887
I changed  on android its done. On ios it will take some time to approve.

[2022-08-26 15:26] StefanB90 commented on #807
@faizhashmiRnS please be so kind as to set up an automated email that notifies us when user feedback has been submitted so we may leverage it moving forward. Thank you!

[2022-08-26 15:27] MikeSofaer commented on #807
@justyntemme might be able to wire up something that pumps feedback straight into a Discord channel.

[2022-08-26 15:54] kjawadDeveloper2 commented on #878
@heyitsjk  what about this
Before: Pylonen Geldbörse
After: Pylonen-Geldbörse

[2022-08-26 15:58] heyitsjk commented on #878
@kjawadDeveloper2 lets use "Pylons Geldbörse"

[2022-08-26 16:04] kjawadDeveloper2 commented on #878
@mustafapylons as per discussion with @heyitsjk  will again look into translations.

[2022-08-26 17:25] heyitsjk commented on #878
Pulled from yesterdays i18n fixes -- these should all be good to go now @kjawadDeveloper2

[de.txt](https://github.com/Pylons-tech/pylons/files/9435124/de.txt)
[en.txt](https://github.com/Pylons-tech/pylons/files/9435126/en.txt)
[es.txt](https://github.com/Pylons-tech/pylons/files/9435127/es.txt)
[id.txt](https://github.com/Pylons-tech/pylons/files/9435128/id.txt)
[ja.txt](https://github.com/Pylon

[2022-08-26 18:02] Tanyaml opened #898 "When User is Main Settings-Email Box Missing Default Text"
## Summary of Bug
Note: This is happening in Both iOS and Android.
When User is Main Settings- Email Default Text Invalid

Main Settings Email Box Missing Default Text x@pylons.tech

Please See Video and Screenshot:

https://user-images.githubusercontent.com/93543576/186964234-78be0e7d-3d4d-44e1-b233-49ecc8a60c8d.mov

<img width="424" alt="Missing Email Default Text" src="https://user-images.githu

[2022-08-26 18:55] StefanB90 opened #899 "Creating a NFT feed in the Pylons app using the Pylons API"
## Summary

We need to create a NFT feed in the Pylons app that automatically takes all NFTs shared from Easel or the Pylons app and aggregates them into a scrollable NFT feed, which will allow other Pylons app users who did not receive the shared link to view a NFT and potentially purchase it if it's available for sale.

Essentially, we are creating a social media card for the Pylons app itself a

[2022-08-26 20:02] Tanyaml opened #901 "When User is In Pylons Wallet Tapping the Heart Icon Invalid Behavior"
## Summary of Bug ##
Note: This behavior is iOS and Android Platform.
When User is Tapping the Heart Icon Invalid and different Behaviors for Image, PDF, Audio, 3D, Video NFTs.

NFT IMAGE: Tapping the Heart does NOT turn RED and JUMPS  onto 2 Likes.

PDF IMAGE: Tapping the Heart does turn RED  and JUMPS  onto 2 Likes.

Audio IMAGE: Tapping the Heart does NOT turn RED JUMPS  onto 3 Likes.

3D IMAGE

[2022-08-27 00:53] heyitsjk commented on #887
Apple App Review has approved our change request to "Points" - now displays in-app on iOS

![IMG_E667FA5D3500-1](https://user-images.githubusercontent.com/74597290/187007850-eb385549-8ecd-4a50-817d-f7cd65f815a4.jpeg)

[2022-08-27 01:05] heyitsjk opened #902 "Force localization at runtime"
## Feature Request Summary

Add the ability to read a users set device operating system language to then auto set the language in-app on first launch.

Example: Device OS language is set to Spanish. Installing the Pylons app and launching it will automatically show Spanish i18n on first open.

## Why do we need this?

Having this feature will help retain new users gained from marketing campaigns w

[2022-08-27 04:33] MikeSofaer commented on #899
This is not just a lot of work, it changes the nature of the service we are providing, and has regulatory as well as positioning implications. Let's set up a call with Josh to talk about how we want to approach discovery.

[2022-08-27 06:00] faizhashmiRnS opened #904 "Recipe Structure for Evently"
This issue is related to the Recipe structure in Evently. Looking forward to have a continuous feedback from everyone on this.

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-27 06:10] faizhashmiRnS commented on #897
Hi @Tanyaml, Can you please test it on some other video too?

Actually the video you used was a screen recording video of a video. So it opened the media controls for the video and they gone, while they were being recorded.
Our Buy button has a minor glass effect as per the provided design. That's why it seemed to have a transparent effect for a while because it had media controls at the back for

[2022-08-28 00:12] #620 closed

[2022-08-29 03:31] mustafapylons opened #909 "Mnemonic should be enough to recover an account"
## Summary of Bug
Mnemonic should be enough to recover an account. This is created due to customer issue in discord support channel.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-29 11:48] abdullahjankhan1 commented on #842
@StefanB90

Handled in PR https://github.com/Pylons-tech/pylons/pull/910

[2022-08-29 13:35] kjawadDeveloper commented on #909
@StefanB90  do we have a design for this?
@mustafapylons  where we are going to adjust this in our design?

[2022-08-29 14:22] StefanB90 opened #912 "Long Loading Time for NFT Images"
## Summary

it can take up to 30 seconds for a NFT image to load. This is much too long. When they go to Big Dipper, the image must load within 300-500 milliseconds.

## Problem Definition

We must drastically decrease the time required for Big Dipper to load a NFT, since this is the beginning of the new user flow that potential Pylons users will first see when they click on a links shared directl

[2022-08-29 14:22] StefanB90 commented on #912
https://pylonstech.atlassian.net/browse/PS-449

[2022-08-29 14:55] StefanB90 opened #913 "Big Dipper Rewrite: BigQuery ingest & Firebase backup"
## Summary

Investigate ways to ingest transactions into BigQuery - will this allow easy Firebase notifications? Investigate cost & limits associated with ingesting transactions as well. Please also investigate how to backup Firebase.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-29 14:55] StefanB90 commented on #913
https://pylonstech.atlassian.net/browse/PS-505

https://pylonstech.atlassian.net/browse/PS-409

[2022-08-29 15:00] StefanB90 opened #914 "setup caching system for IPFS images"
## Summary

setup caching system for IPFS images to reduce the time it takes to display IPFS thumbnails in Easel and confirm a successful upload to IPFS.

## Problem Definition

It takes quite a while to confirm successful uploads to IPFS, therefore, we must create a caching system to reduce the time it takes for an image thumbnail to appear in the Creator Hub in Easel, as well as the Upload Succe

[2022-08-29 15:00] StefanB90 commented on #914
https://pylonstech.atlassian.net/browse/PS-455

[2022-08-29 15:09] StefanB90 commented on #909
do not need pylons username to recover your account. Only mnemonic is required.

[2022-08-29 18:23] mustafapylons opened #915 "Move Queries to Cosmosia."
## Summary

Move Queries to Cosmosia.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-29 22:22] Tanyaml opened #917 "Pylons: Receipt has the wrong time-stamp Same Time for Each Purchase UTC 22:08"
The Receipt has the wrong time-stamp of 02:08 UTC when I purchased NFT, the actual time was 6:23pm- this is happening on both iOS and Android.

Please see screenshot:
![Wrong Timestamp - 3D](https://user-images.githubusercontent.com/93543576/187309331-6701f537-ec55-40f8-a805-6c2f704ec4ce.png)

## Summary of Bug

## Version

## Steps to Reproduce
1. User clicks NFT to purchase: https://wallet.pylon

[2022-08-30 00:04] afti-githobo opened #918 "Validate JSON for gadgets at load time"
## Summary

We should validate the JSON for a gadget when we load it.

## Problem Definition

Currently, gadgets don't do any JSON validation until macro expansion happens. That sorta sucks, but a naive approach won't function because gadgets aren't actually valid JSON! They're arbitrary snippets that are assembled into a single JSON document, and may themselves contain placeholders that... are al

[2022-08-30 07:24] faizhashmiRnS commented on #917
Hi @Tanyaml, The similar issue got fixed in PR #903 . Please let me know if you have an updated build.
Further, Please make sure you are comparing it with the UTC time not local time.

Thanks!

[2022-08-30 14:20] Tanyaml opened #923 "Pylons-When User is trying to Purchase NFT- Invalid Behavior"
## Summary of Bug
Pylons-When User is trying to Purchase NFT- Invalid Behavior
When User is in Android Device- it goes directly to Big Dipper Block Page.

https://user-images.githubusercontent.com/93543576/187461813-12de182f-e2ca-4ccb-8e6e-0ffd0557aaaf.mov

When user is in iOS, it goes to Pylons for a split second it show purchase screen but then goes into Collection tab and Pylons Icon Keeps load

[2022-08-30 14:55] StefanB90 opened #924 "Fix zoom level of image view within Pylons app"
## Summary of Bug

Per Mike, we must prioritize fixing the zoom level on the view of images in the app. You should be able to see the whole image of the NFT in the full screen NFT view.

On mobile, I should be able to see the entire image of a NFT whether I'm in the Big Dipper mobile browser view or whether I'm in the Pylons app.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] No

[2022-08-30 14:57] Tanyaml commented on #917
@faizhashmiRnS The issue was that not zone of time it was- the same time that is being displayed.

[2022-08-30 15:04] StefanB90 opened #925 "Lock aspect ratio vs fit to screen"
## Summary of Bug

The crop/zoom functionality in Easel is unpredictable. Ensure it is working as expected --> the NFT should look exactly as I set it when I edit it using the crop/zoom tool.

To address the snap zoom issue, we must add a checkbox/button to enable/disable snap zoom so that the image you see in the crop screen before you hit "Done" is the same you see on the next screen as the NFT

[2022-08-30 15:05] Tanyaml opened #926 "Easel App: Pylons Text in for Denoms is invalid"
## Summary of Bug
Pylons Text in for Denoms is invalid - The text is close to end of the text box.
Please see Screenshot:
![Pylons Text for Denom ](https://user-images.githubusercontent.com/93543576/187471802-fb4071bd-e928-4798-9894-3d6a8296f041.png)

## Version

## Steps to Reproduce
1. User logs on Easel and goes through with uploading NFT.
2. User lands on NFT pricing and will click on DENOMS B

[2022-08-30 15:12] kjawadDeveloper2 commented on #887
@Tanyaml  kindly check this.

[2022-08-30 15:26] kjawadDeveloper2 commented on #925
@StefanB90  can you give more info on this?

[2022-08-30 15:31] StefanB90 commented on #925
so when I edit an image that I wish to upload to IPFS to create a Draft NFT. When I'm done editing it (by that I mean, when I'm done adjusting it and click upload) the full screen NFT preview should look exactly the same as what I saw before I clicked upload. The NFT should always remain constant in terms of size/orientation/dimensions/resolution across any device as I set it when I uploaded it to

[2022-08-30 15:36] StefanB90 commented on #925
@kjawadDeveloper2 please see the following discord discussion with Easel creator pasted below for ease of reference:

**The image is 1:1 currently, but it's 3000x3000 so there is scope to crop to 9:16 if that's the accepted format?**

_That's what I would do, to reduce variables_

**When I added the image the crop tool was 1:1, so it works. Once you click ok, you see the image scaled up so it's co

[2022-08-30 15:46] kjawadDeveloper2 commented on #923
Point two i resolved.

[2022-08-30 15:48] kjawadDeveloper2 commented on #926
@Tanyaml
https://we.tl/t-egVPcm1dGP
Kindly check with this build.

[2022-08-30 16:01] Tanyaml commented on #926
I have tested the  Pylons Text in for Denoms and it is now Valid.
Please see video:

Uploading #926 Easel Resolved.mov…

<img width="444" alt="Pylons Text Vaild" src="https://user-images.githubusercontent.com/93543576/187485400-50c5ac37-ebbb-42d0-9aa9-ef8c1df7db2b.png">

[2022-08-30 16:01] #926 closed

[2022-08-30 17:06] mustafapylons opened #931 "Real_world flag that enables Stripe on iOS"
## Summary of

Real_world flag that enables Stripe on iOS

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-08-30 18:49] kjawadDeveloper2 commented on #917
@StefanB90  should we show local time of the user or UTC?

[2022-08-30 19:53] kjawadDeveloper2 commented on #909
@Tanyaml  kindly also check this.

[2022-08-30 21:05] Tanyaml opened #933 "When User Purchases NFT and is direct to Previous Purchase- Invalid Behavior"
## Summary of Bug

Actual Results:
When User Purchases NFT and is direct to Previous Purchase Invalid Behavior.
When user just finished purchasing a NFT it still remains where it left off in the Pylons App--> then user then clicks on shared NFT to purchase and it is directed to big dipper and user clicks buy and then is directed to previous purchase for 3 seconds and then is directed to NFT that n

[2022-08-30 21:40] StefanB90 commented on #925
@kjawadDeveloper2 to address this issue asap, please offer "Lock aspect ratio" toggle in the crop/edit screen in Easel. Thank you!

[2022-08-30 23:21] MikeSofaer commented on #925
This should also set a flag on the recipe, as it should only affect how it is viewed in the app, not how it uploads.

[2022-08-31 05:03] faisalnaveedRNS commented on #923
https://wallet.pylons.tech/?cookbook_id=Easel_CookBook_auto_cookbook_2022_08_29_133300_933&item_id=QGETYcR5rFq&address=pylo1cldgze0pqgysfvm7m5xrpdu3j5u6mpkdzq8ss5

[2022-08-31 05:21] faizhashmiRnS commented on #901
Hi @Tanyaml , Please close this issue if it is tested. Thanks

[2022-08-31 06:21] faizhashmiRnS commented on #933
Hi, @Tanyaml, I guess the previous NFT was already opened in the App. When it opens the app, You can see whatever was previously opened in the app and then it moves to the video NFT.

@kjawadDeveloper2 , Please verify and let me know if there anything that we need to fix.

Thanks.

[2022-08-31 06:43] faizhashmiRnS commented on #933
Alright, on it. Thanks.

[2022-08-31 14:43] kjawadDeveloper2 opened #950 "Retry functionality in wallet"
User should be able to retry the transactions if they didn't went through.

[2022-08-31 15:12] StefanB90 commented on #950
P1 must be completed this week

[2022-08-31 15:12] StefanB90 commented on #933
P1 must be completed this week (within 24 hours if possible)

[2022-08-31 15:13] StefanB90 commented on #931
P2 - after obtaining clarification please prioritize next week

[2022-08-31 15:13] StefanB90 commented on #925
P1 - to be completed this week.

[2022-08-31 15:16] StefanB90 commented on #923
P1 - to be completed this week

[2022-08-31 15:17] StefanB90 commented on #918
high priority, but requires more clarification and discussion before we can proceed.

[2022-08-31 15:18] StefanB90 commented on #917
P3 - must be completed within 30 days

[2022-08-31 15:19] StefanB90 commented on #915
work has been started. P1 - to be completed this week

[2022-08-31 15:19] StefanB90 commented on #915
for gRPC --> discussion ongoing

[2022-08-31 15:20] StefanB90 commented on #914
Done

[2022-08-31 15:20] #914 closed

[2022-08-31 15:21] StefanB90 commented on #912
clone - first ticket for IPFS patch. That being said, still long load times for first load

[2022-08-31 15:21] StefanB90 commented on #912
Easel --> after uploads should send request and cache

[2022-08-31 15:22] StefanB90 commented on #913
Firebase - @justyntemme to check and revert back with update. BigQuery ingest may need to be a separate ticket

[2022-08-31 15:23] StefanB90 commented on #909
QA testing required to close this.

[2022-08-31 15:24] StefanB90 commented on #904
currently in progress.

P2 - must be completed by end of next week

[2022-08-31 15:25] StefanB90 commented on #902
P2 - P3 --> requires research to understand what must be done.

[2022-08-31 15:26] StefanB90 commented on #901
@Tanyaml to close after final video test.

[2022-08-31 15:27] StefanB90 commented on #898
@Tanyaml to verify then close when possible.

[2022-08-31 15:28] StefanB90 commented on #897
@Tanyaml tested. Working as expected. This can be closed.

[2022-08-31 15:28] #897 closed

[2022-08-31 15:29] StefanB90 commented on #894
@Tanyaml to retest then close.

[2022-08-31 15:31] StefanB90 commented on #893
@Tanyaml to check that a user cannot read the entire PDF eBook. If that has been addressed in addition to the issues described above (with the exception of the timestamp discrepancy) can close this issue.

[2022-08-31 15:32] StefanB90 commented on #892
@Tanyaml to close this after final test to confirm working as expected.

[2022-08-31 15:32] StefanB90 commented on #891
@Tanyaml to close this after final test to confirm working as expected.

[2022-08-31 15:33] StefanB90 commented on #888
@Tanyaml has confirmed that this error persists and still needs to be addressed.

[2022-08-31 15:34] StefanB90 commented on #887
@Tanyaml please confirm that we can close this. Thank you.

[2022-08-31 15:35] StefanB90 commented on #884
@Tanyaml has confirmed this is working as expected and can close this issue.

[2022-08-31 15:35] #884 closed

[2022-08-31 15:36] StefanB90 commented on #878
Low priority. Please check when possible to close this issue. Thank you @faizhashmiRnS

[2022-08-31 15:37] #877 closed

[2022-08-31 15:38] StefanB90 commented on #846
@mustafapylons to speak with @heyitsjk to confirm

[2022-08-31 15:39] StefanB90 commented on #845
per @faisalnaveedRNS both teams have checked their respective tasks and we can close this issue.

[2022-08-31 15:39] #845 closed

[2022-08-31 15:40] StefanB90 commented on #844
@kjawadDeveloper2 I cannot recall what the issue is. Can you provide any additional information?

[2022-08-31 15:41] StefanB90 commented on #843
P2 - @StefanB90 to add correct label

[2022-08-31 15:42] StefanB90 commented on #842
P1 - part of this is handled. Second part will be completed this week.

[2022-08-31 15:43] StefanB90 commented on #841
Keeping this issue until we create a Release Process for ongoing updates

[2022-08-31 15:45] StefanB90 commented on #840
@Tanyaml I'll take this one

[2022-08-31 15:46] StefanB90 commented on #839
@faisalnaveedRNS will create another ticket to test this in the future when needed.

[2022-08-31 15:46] #839 closed

[2022-08-31 15:49] StefanB90 commented on #838
@Tanyaml lower priority. We can test this together when you've closed the other issues.

[2022-08-31 15:50] StefanB90 commented on #836
Per @Tanyaml this can be closed

[2022-08-31 15:50] #836 closed

[2022-08-31 15:51] #835 closed

[2022-08-31 15:52] StefanB90 commented on #832
@kjawadDeveloper2 please confirm if this has been implemented for Easel. Thank you.

[2022-08-31 15:53] StefanB90 commented on #831
@Tanyaml please verify when possible. Thank you.

[2022-08-31 15:54] StefanB90 commented on #829
@mustafapylons to set up discussion to carry this forward. Lower priority

[2022-08-31 15:55] #828 closed

[2022-08-31 15:55] StefanB90 commented on #827
@Tanyaml please test when possible. Thank you.

[2022-08-31 15:56] StefanB90 commented on #826
Linked to more meaningful message issue
CC @Tanyaml @StefanB90

[2022-08-31 15:57] #825 closed

[2022-08-31 16:00] StefanB90 commented on #824
when you set your price.. should take you directly to published preview moment. Shouldn't have to click three dots menu to then be able to click another option to finally get to where you can delist & resist your NFT.

@StefanB90 to update issue for clarity and assign after requirements are clear.

[2022-08-31 16:01] #778 closed

[2022-08-31 16:02] StefanB90 commented on #823
revisit with @faddat when he returns.

[2022-08-31 16:03] StefanB90 commented on #815
Still needs to be addressed

[2022-08-31 16:03] StefanB90 commented on #813
@kjawadDeveloper2 has this been completed? Please verify and close when possible. Thank you.

[2022-08-31 16:05] #809 closed

[2022-08-31 16:07] StefanB90 commented on #805
@StefanB90 update name per conversation with Mike

[2022-08-31 16:09] StefanB90 commented on #788
@afti-githobo do you feel satisfied with the feedback provided? If so, we can close this. If not, we should set up a thread in the code channel to get to the bottom of this. Thank you.

[2022-08-31 16:10] StefanB90 commented on #775
This issue will be resolved after the next chain upgrade. Until that time, we will keep it open.

[2022-08-31 16:12] StefanB90 commented on #772
@kjawadDeveloper2 can you still send pylon points to other people?

If you cannot, then we can close this. If you can, then we must prevent this tx from occurring.

[2022-08-31 16:13] StefanB90 commented on #764
@kjawadDeveloper2 do you have update regarding the Bedrock dividend calc?

Thank you sir.

[2022-08-31 16:15] StefanB90 commented on #759
@faisalnaveedRNS please confirm this after you've addressed the other critical issues this week. Thank you.

[2022-08-31 16:16] StefanB90 commented on #749
Ongoing discussion in progress

[2022-08-31 16:18] StefanB90 commented on #677
deprioritized for the next few months. Revisit end of November.

[2022-08-31 16:19] StefanB90 commented on #644
@faddat can we confirm this when possible? Have epochs been removed? Is this the right course of action? Thank you.

[2022-08-31 16:20] StefanB90 commented on #642
This issue requires a discussion to provide next steps or close this issue.

[2022-08-31 19:54] afti-githobo commented on #788
we can close this; it's not an issue, the initial advice was just bad

[2022-08-31 19:54] #788 closed

[2022-08-31 22:17] afti-githobo commented on #918
i'm confused b/c i thought yesterday that our assessment about this (and the related case of identifying specific sources for JSON validation failures in recipes that contain multiple macros) was that they were _desirable_ things to have in the future, but that we couldn't justify the amount of time and energy that would need to be spent on engineering them right now?

cf. that discord threat I ma

[2022-08-31 22:26] MikeSofaer commented on #918
Sorry, this one slipped past me. Validation is not high priority, we need to focus on first impression, which means features

[2022-09-01 02:10] Tanyaml commented on #909
I have validated both on Android & iOS that the Pylons username is no longer on account Recover , Only mnemonic is present.

Please see videos:

https://user-images.githubusercontent.com/93543576/187815968-7f5cf31f-2ab1-4a09-b63d-9fbb949062da.mov

https://user-images.githubusercontent.com/93543576/187816727-de36d696-27ba-49db-b701-2c708b9d2fbc.mov

[2022-09-01 02:10] #909 closed

[2022-09-01 05:03] faisalnaveedRNS commented on #933
@Tanyaml please retest, I think jawad already discuss what is the issue

[2022-09-01 05:06] faisalnaveedRNS commented on #842
@justyntemme as per our discussion, please test this ticket and close this issue

[2022-09-01 05:09] faisalnaveedRNS commented on #923
PR is created, need to merge, then we can test

[2022-09-01 05:12] faisalnaveedRNS commented on #923
@faizhashmiRnS Please confirm your status on this

[2022-09-01 05:44] faizhashmiRnS commented on #933
Hi @kjawadDeveloper2, Can you please take out a build and share it for testing for above issue?

[2022-09-01 05:49] faizhashmiRnS commented on #923
Yes, Development is completed. Just need to be merged and tested.

[2022-09-01 08:07] faizhashmiRnS commented on #950
Hi @StefanB90, This issue might take sometime to complete. As discussed with @kjawadDeveloper2, There will be a screen having all the failures at one place and each failure will have a retry button. We will also need the design for that.
Further, we have so many transactions that can be failed and user should be able to retry them. It may take sometime to implement this failure mechanism throughou

[2022-09-01 08:09] MikeSofaer commented on #950
Let's deliver this in parts, then. The first piece should be a list of failed transactions, where if the transaction was an IAP mint or Stripe purchase, the user can see the details of the purchase they made.

[2022-09-01 11:13] Tanyaml commented on #901
@faizhashmiRnS @faisalnaveedRNS @StefanB90 This is still NOT working as expected, last night the new NFT drop below  had 4 likes and now its at 0- please see screenshot:

Last night:
![4 likes NFT drop](https://user-images.githubusercontent.com/93543576/187900741-55d613cf-05a1-43c6-9c83-859c3bee4ef2.png)

This Morning:
![o likes New NFT Drop](https://user-images.githubusercontent.com/93543576/1879

[2022-09-01 11:23] Tanyaml opened #954 "Pylons Views is Not Working as Expected"
## Summary of Bug
Pylons Views is Not Working as Expected,  when user likes NFT the night before the next day it goes down to 0- This is not working as should- also as I was testing I viewed this NFT more than 8 times with the different devices and I created different accounts- so that is also a major issue.

Please see screenshot:

Views Last night which was 8-
![View night Before](https://user-i

[2022-09-01 11:30] Tanyaml opened #955 "When User Creates account or Restores and lands on Pylons "Something Went Wrong "Message Pops up"
## Summary of Bug
1.When User creates or restores account  on Android and lands on Pylons "Something Went Wrong" Message Pops up, this happens when you also kill app or leave app- the "Something went Wrong" message appears on the bottom.

Please see video:
Android:

https://user-images.githubusercontent.com/93543576/187903446-729dc201-7f89-409d-addf-92543b9cc260.mov

2.When User creates or restore

[2022-09-01 12:11] faisalnaveedRNS commented on #955
I think App was connected with wrong Big dipper URL updated, please check again

[2022-09-01 12:12] faisalnaveedRNS commented on #954
I think App was connected with wrong Big dipper URL updated, please check again

[2022-09-01 12:14] #842 closed

[2022-09-01 14:49] kjawadDeveloper2 commented on #954
@faisalnaveedRNS do we need to send new build to @Tanyaml  or it will be resolved automatically.

[2022-09-01 14:51] kjawadDeveloper2 commented on #917
@StefanB90  can you tell us should we show UTC time or user local time ?

[2022-09-01 14:51] #923 closed

[2022-09-01 15:20] StefanB90 commented on #954
Per Mike --> API is not stable. Please check the stability of the API to test the accuracy of view counts. We should be counting views based on how many different people are looking at all the editions within the total number of editions offered. Edition 5 of 750 should not have more views than edition 8 of 750 as a quick sanity check.

[2022-09-01 17:05] MikeSofaer commented on #917
User local time

[2022-09-01 17:29] mustafapylons opened #956 "Using Chrome 105 version, the blog site doesn't load anymore (desktop)"
## Summary of Bug

Using Chrome 105 version, the blog site doesn't load anymore (desktop)

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-01 17:30] heyitsjk commented on #956
screenshot for context
![Screen Shot 2022-09-01 at 10 30 38 AM](https://user-images.githubusercontent.com/74597290/187976547-22bf2da4-105c-4818-b9f4-9e7c65387864.png)

[2022-09-01 17:42] faisalnaveedRNS commented on #956
Working fine on version 99, updating my chrome version, to check on latest one

[2022-09-01 17:49] faisalnaveedRNS commented on #956
unable to reproduce, on version 105

[2022-09-01 17:50] faisalnaveedRNS commented on #956
@heyitsjk need more information on this

[2022-09-02 05:35] faisalnaveedRNS commented on #843
@afti-githobo can you please provide more details on it, or sample video on this

[2022-09-02 15:08] faisalnaveedRNS commented on #954
replace with better deployment API, to increase speed

[2022-09-02 15:11] faisalnaveedRNS commented on #933
@kjawadDeveloper2 do we need to further work on this

[2022-09-02 16:20] Tanyaml commented on #954
@Faisal Naveed | RNS Solutions#7222  I mentioned this before when user steps away from app more then 10mins and opens app the view count does not change at all- if user then kills app you will see the change with in 2 seconds.

please see video:

https://user-images.githubusercontent.com/93543576/188196655-1f2ede74-1a77-497a-80f3-60cc8a64fb06.mov

[2022-09-02 16:55] Tanyaml commented on #826
@StefanB90 When User is in Pylons Wallet Purchasing Pylons On Galaxy A8 + Pixel 3 "Something went wrong" message pops-up has been resolved and now working as expected.

Please see Video:
Galaxy
https://user-images.githubusercontent.com/93543576/188200224-80d5e18a-564b-49d5-8dc5-dcafb91cc198.mov

PIxel:
Uploading Pixel Validated #826.mov…

[2022-09-02 16:55] #826 closed

[2022-09-02 17:50] Tanyaml commented on #891
@faisalnaveedRNS When user is clicking on link for Video NFT and lands on BD  it shows Buy free button:

Please see video:

https://user-images.githubusercontent.com/93543576/188208959-244c420f-db26-4a4e-82c3-785b6bc27cb7.mov

<img width="443" alt="Screen Shot 2022-09-02 at 1 44 20 PM" src="https://user-images.githubusercontent.com/93543576/188209236-7af21e2d-6f5b-4d69-a121-045c55ea0cd3.png">

Big

[2022-09-03 01:20] faisal commented on #954
🤦

[2022-09-03 01:21] faisal commented on #954
@faisalnaveedRNS I believe this one's for you.

[2022-09-03 01:52] Tanyaml commented on #871
@faizhashmiRnS  @kjawadDeveloper2

German is not working as expected
1.Language shows Deutsch which is Incorrect- should be German** NOT FIXED Needs to DE.

![German incorrect Acronym ](https://user-images.githubusercontent.com/93543576/188251206-27622aee-71c0-4aab-b7a8-21c89610340f.jpeg)

The following is working as expected

Korean is not working as expected
1.Main settings page format off- too

[2022-09-03 03:06] Tanyaml commented on #933
@kjawadDeveloper2 @faisalnaveedRNS  This is still NOT working as expected.
When User Purchases NFT and is direct to Previous Purchase Invalid Behavior.
Please see video:

Uploading #933 Invaild.mov…

[2022-09-03 03:28] Tanyaml commented on #827
@StefanB90  I have validated the "Something went wrong. Try restarting the app." and is working as expected.

Please See video:
Android:

https://user-images.githubusercontent.com/93543576/188254078-64770528-2ee0-455c-80b4-cc8c4d652ebf.mov

Please Video:
iOS

https://user-images.githubusercontent.com/93543576/188254122-acf50d76-d75d-4d3b-a226-008c51409e75.mov

[2022-09-03 03:28] #827 closed

[2022-09-03 04:26] Tanyaml commented on #887
@StefanB90  I have validated  the following:

on Google IAP remove Pylons and just put "points"

on Apple IAP, rename coins "points"

on Pylons app, rename PYLN to "points"

Please See Video:
Android

https://user-images.githubusercontent.com/93543576/188255614-a99873ac-b8ea-4d84-9416-12e2af0cb7db.mov

Please See Video:
iOS

https://user-images.githubusercontent.com/93543576/188255736-3085c32d-964

[2022-09-03 04:26] #887 closed

[2022-09-03 05:56] Tanyaml commented on #892
@faisalnaveedRNS  This issue is not resolved.

When user clicks on NFT :  https://wallet.pylons.tech/?recipe_id=Easel_Recipe_auto_recipe_2022_09_02_223054_116&cookbook_id=Easel_CookBook_auto_cookbook_2022_09_02_222030_186&address=pylo133mtmhludmn8z2ww6axkzayq92gkynmdf9j2c5
User will Land on Big Dipper  and the button " Buy For Free"   which is invalid.

Please see Video:
Android

https://user-imag

[2022-09-05 03:30] heyitsjk opened #962 "ADD/REPAIR: Google Analytics for Firebase Tracking"
## Summary

Right now, there is no analytic data of users activity coming through Firebase Analytics. We need to add or repair the Analytics SDK so we can start seeing incoming user traffic to Big Dipper & the main Pylons app.

We need to be able to see: Realtime Data, Events, Tags, & Conversions

The projects & ID’s already live within our Firebase Console, which makes me think we had these at so

[2022-09-05 07:33] heyitsjk commented on #956
closing this issue as it's not reproducible on my other machines running 105

[2022-09-05 07:33] #956 closed

[2022-09-06 10:15] faizhashmiRnS commented on #812
Hi @Tanyaml, Please test this.

[2022-09-06 14:24] kjawadDeveloper2 commented on #962
@heyitsjk i can add for android and ios . @faisalnaveedRNS  kindly look into big dipper one.

[2022-09-06 15:04] Tanyaml commented on #898
This is working as expected.

[2022-09-06 15:04] #898 closed

[2022-09-06 15:04] StefanB90 commented on #962
not required for Easel at this time.

[2022-09-06 15:08] Tanyaml commented on #898
When User is Main Settings-Email Box is working as expected.
![email address validated](https://user-images.githubusercontent.com/93543576/188670788-55a7ccbe-92d8-4a80-8614-a385c487e55f.png)

[2022-09-06 15:16] faisalnaveedRNS commented on #933
@kjawadDeveloper2 Please provide latest build to tania

[2022-09-06 15:34] #901 closed

[2022-09-06 16:07] kjawadDeveloper2 opened #969 "Add analytic in whole checkout process"
Right now we only have analytics for the whole app. But our core feature purchase of NFT doesnt have analytics in the whole flow.

[2022-09-06 17:18] heyitsjk commented on #962
pylons/big-dipper/imports/ui/easel_buy/EaselBuy.jsx
Line 241 : “handleLoginConfirmed”

Add the ability to save the users inbound tags on Big Dipper and send to the new outbound Dynamic Link to the app so we can still see which ad they came from post-install.

“utm_source”
“utm_medium”
“utm_campaign”
“utm_id”
“utm_content”

[2022-09-06 18:11] heyitsjk opened #972 "Add Campaign Tags to Big Dipper's 'Buy Button' Dynamic Link"
## Summary

pylons/big-dipper/imports/ui/easel_buy/EaselBuy.jsx

Lines 692 & 1045: div className="buy-btn"

Line 241 : “handleLoginConfirmed”

Add the ability to save the users inbound tags and send to the new outbound Dynamic Link to the app so we can still see which ad they came from post-install.

“utm_source”
“utm_medium”
“utm_campaign”
“utm_id”
“utm_content”

Test:
The flow from an Ad link, t

[2022-09-06 19:27] StefanB90 commented on #925
@kjawadDeveloper2
![Screen Shot 2022-09-06 at 3 27 12 PM](https://user-images.githubusercontent.com/97635071/188721951-c53f3e7b-6ddc-4d96-b705-5a2f991384ce.png)

[2022-09-06 19:29] StefanB90 commented on #925
^ You can remove the rotate counterclockwise icon from the bottom menu to make space for the Lock image checkbox.
Locking the image locks the aspect ration that the user can select from the list or by manually editing using the box provided. I've removed square from the aspect ratio options provided and inserted Fit to Screen in its place. Thank you.

CC @xbdyhh @MikeSofaer @mustafapylons @Tanyaml

[2022-09-06 21:20] Tanyaml commented on #933
@faisalnaveedRNS This is still not working as expected even with new build, please see video.

Uploading Android Invalid Purchase Behavior .mov…

[2022-09-06 21:26] mustafapylons opened #984 "Bring up a prompt in receipt page for rating the app such as "do you like us, rate us"."
## Summary
Bring up a prompt in receipt page for rating the app such as "do you like us, rate us".

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-06 21:26] StefanB90 commented on #950
@kjawadDeveloper2
![Screen Shot 2022-09-06 at 5 26 38 PM](https://user-images.githubusercontent.com/97635071/188742798-bc054198-7eee-423c-96ba-f4c8b4048aca.png)

[2022-09-06 21:26] mustafapylons commented on #984
@heyitsjk This is the draft feature request for rate us the app feature. Please work with @StefanB90 and Xinya to get the UX fleshed out.

[2022-09-06 21:28] heyitsjk commented on #984
Flow:
after a users first transaction, show a "Are you enjoying Pylons?" popup
two options: yes or no
- tapping "yes" will show OS native prompt to review us on the app store
- tapping "no" will show our "submit feedback" form

[2022-09-06 21:31] StefanB90 commented on #950
I've moved the stripe & Transaction History Overview icons on the same line with the Collection & Wallet tabs... you first get the error popup notification and if you close that by mistake the transaction that hasn't been processed on-chain is highlighted in red and the refresh icon is now added at the end next to the Transaction History Overview icon. The pylon points symbol has also changed to a

[2022-09-06 21:32] #894 closed

[2022-09-06 21:43] Tanyaml opened #985 "iOS- When User is in iOS Purchasing NFT Invalid Behavior Occurs"
## Summary of Bug
iOS- When User is in iOS Purchasing NFT Invalid Behavior Occurs
User clicks on link to purchase NFT- User is Directed to Open Link URL then goes to Pylons and lands in the collection tab which then the Pylons Icon keeps loading.

Please see Video:

https://user-images.githubusercontent.com/93543576/188746638-989b12c6-f6ba-42e0-a5f6-d89eb70eca16.mov

## Version 1.1.2
iphone 11

##

[2022-09-06 22:22] heyitsjk opened #986 "Remove HTML from Social Card meta tags"
## Summary of Bug

When sending a link to Big Dipper, <h4> tags show in the social card headline.
We need these removed and formatted properly.

![IMG_4302](https://user-images.githubusercontent.com/74597290/188750832-e6992662-e9a4-46b1-b706-460440dd46c8.jpg)

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assign

[2022-09-06 23:10] Tanyaml commented on #815
I have validated and it is working as expected:Android User clicks on NFT to purchase or view from Artist, User should be directed to Pylons App

Please see video:

https://user-images.githubusercontent.com/93543576/188755820-639982d7-e06c-4e61-b7be-5ea8cdd63eed.mov

[2022-09-06 23:10] #815 closed

[2022-09-06 23:26] Tanyaml commented on #955
I have validated When User Creates account or Restores and lands on Pylons with no issue and now is working as expected.

Please see videos:

Android:

https://user-images.githubusercontent.com/93543576/188757236-f5082e19-afc8-4cb7-90a2-dfa723e50899.mov

iOS:

https://user-images.githubusercontent.com/93543576/188757263-af6d0b57-adf6-4369-837f-af96b486e3e4.mov

[2022-09-06 23:26] #955 closed

[2022-09-06 23:34] heyitsjk opened #987 "Remove Version Number from Big Dipper Header"
## Summary of Bug

Remove the version number displaying in the header of Big Dipper -- UX Cleanup

_pylons/big-dipper/imports/ui/components/Header.jsx_
Line 213:          <Badge color='secondary'>{this.state.version}</Badge>{' '}

![Screen Shot 2022-09-06 at 4 33 57 PM](https://user-images.githubusercontent.com/74597290/188758048-46f873c7-23f5-496a-98c2-2944fecd4681.png)
____

## For Admin Use

-

[2022-09-06 23:40] Tanyaml commented on #954
I have validated Pylons Views it is working as expected.

Please see video:

Android:

https://user-images.githubusercontent.com/93543576/188758454-d8c935dc-057e-4b20-ab42-0e2537bd3705.mov

iOS:

https://user-images.githubusercontent.com/93543576/188758470-9754f090-9480-4d5a-8bf6-85c1725278f1.mov

[2022-09-06 23:40] #954 closed

[2022-09-06 23:44] Tanyaml commented on #893
I have validated the BD that PDF upload is working as expected on Web Browser- being that we are going to create the PDF is available only upon purchase.

[2022-09-06 23:44] #893 closed

[2022-09-06 23:48] StefanB90 opened #988 "Gestures"
## Summary

![Screen Shot 2022-09-06 at 7 45 16 PM](https://user-images.githubusercontent.com/97635071/188758968-c28c1554-7053-451f-885d-d14a8ee8cf4f.png)

## Proposal

Adding gestures to the full-screen NFT view to make it easier for users to remove all icons/text to see the NFT as the artist intended it to be seen and minimize the popup overlay box, as well as cycle to the next NFT in their coll

[2022-09-07 00:04] Tanyaml opened #989 "iOS Recovery Phrase Invalid"
## Summary of Bug
iOS Recovery Phrase Invalid
When user is trying to reveal recovery phrase- no phrase is available, and of user clicks on Test Practice- no phrase is avaiable  to test.
Note this is only happening in iOS.

Please see video:

https://user-images.githubusercontent.com/93543576/188760430-0dc6dc4c-58e5-459e-9336-190bd1e99bcf.mov

## Version 1.1.2
iPhone 11

## Steps to Reproduce
1. Us

[2022-09-07 00:18] Tanyaml commented on #838
@faisalnaveedRNS I have test the Messages & Push Notifications and it is not working as expected.

Please see videos:

Android:

https://user-images.githubusercontent.com/93543576/188761747-99c32dee-cd25-46fc-a6d2-d55527772dd5.mov

iOS:

https://user-images.githubusercontent.com/93543576/188761835-5f23ec48-0ab9-4a2d-95c5-16a647ab0a08.mov

[2022-09-07 01:30] Tanyaml commented on #838
@faisalnaveedRNS This is not working as expected.

Please videos:

Android:

iOS:

https://user-images.githubusercontent.com/93543576/188761614-9ea28d54-747f-4ade-ae8e-0826da04743c.mov

@faisalnaveedRNS

Please see screen shot:
The Audio playback is not in the right postion:
See screenshot:

![Screen Shot 2022-09-06 at 9 29 21 PM](https://user-images.githubusercontent.com/93543576/188768915-078b87

[2022-09-07 01:33] Tanyaml commented on #892
@faisalnaveedRNS

Please see screen shot:
The Audio playback is not in the right position:
See screenshot:
![invaild Audio NFT](https://user-images.githubusercontent.com/93543576/188769130-cfb1eb6a-0a81-42b1-b2da-ac16fb976bdc.png)

[2022-09-07 01:37] Tanyaml commented on #891
I have validated  BD on  Web Browser and it is working as expected.

![Screen Shot 2022-09-06 at 9 36 31 PM](https://user-images.githubusercontent.com/93543576/188769637-bdb5b6a6-1c9c-427e-a45b-eb97bd6ec6d7.png)

[2022-09-07 01:37] #891 closed

[2022-09-07 04:40] faizhashmiRnS commented on #812
@ahmadrns Please look into this issue.

[2022-09-07 07:32] AbdulSamad876 commented on #986
Please Share Steps To Reproduce @heyitsjk

[2022-09-07 11:28] nghuyenthevinh2000 opened #996 "Prepare for mainnet"
## Summary

This post introduces check list of issues that must be addressed before mainnet launch

## Proposal

- [x] https://github.com/Pylons-tech/pylons/issues/997
- [x] https://github.com/Pylons-tech/pylons/issues/1056
- [x] https://github.com/Pylons-tech/pylons/issues/998
- [x] https://github.com/Pylons-tech/pylons/issues/1129
- [x] https://github.com/Pylons-tech/pylons/issues/1082
- [x] htt

[2022-09-07 11:35] nghuyenthevinh2000 opened #997 "feat(mainnet): redistribute ubedrock and stripe usd"
## Summary

ubedrock is scattered around in many addresses. In preparation of mainnet, bedrock should only exist in 8 specified wallet with specified amount. 8 wallets constitute a total of 1 bils

Also 1 bedrock to each validator. Which one in 8 address will send bedrock to validator? @MikeSofaer

@GNaD13 is assigned on this.

@MikeSofaer can I share the excel file to here?

- [ ] get address
- [

[2022-09-07 11:48] faizhashmiRnS commented on #904
@kjawadDeveloper2
branch: temp/recipe_struct

Hi, I have tried to make it as close to the problem statement as I could. I am facing some deadlocks now and It still needs some improvements. Please review it.

[2022-09-07 11:54] nghuyenthevinh2000 opened #998 "feat: ante decorator for restricting ubedrock transaction allowed address only"
## Summary

bedrock is a security asset which should only be transfered among allowed address.

## Proposal

The design for this would need:
1. Ante decorator logic to check tx. It will check against allowed address stored in x/pylons
2. RegisterKYCAddress msg in x/pylons to register allowed address

- Need an address as the book keeper in server side (seed phrase has to be kept a secret else atta

[2022-09-07 12:06] faisalnaveedRNS commented on #986
@heyitsjk Can you please share nft url here, to investigate it more

[2022-09-07 14:59] faisalnaveedRNS commented on #933
@kjawadDeveloper2 please review above PR#999 to move forward on it

[2022-09-07 15:04] StefanB90 commented on #986
we must try to reproduce this by sharing a NFT created in Easel using SMS

CC @Tanyaml @heyitsjk

[2022-09-07 15:07] StefanB90 commented on #933
@xbdyhh let's have a default splash screen with the pylons logo that the user can see whenever they are waiting for their link to open in the Pylons App

[2022-09-07 15:13] afti-githobo commented on #843
sorry, i forgot to get to you on this during the weekend

you could create the recipes in the pylons-tools-demo-app repo as of commit `a354695de88b114cb46cbe30ccb0ffded45ac8ac` w/ your own cookbook ID, run the create-character recipe, and then run the fight-goblin recipe. none of the expected state changes will take place.

[2022-09-07 15:13] StefanB90 commented on #892
Every video seems to be horizontal.

@xbdyhh let's design a horizontal screen orientation for video playback on Big Dipper & Pylons App (in addition to Easel)

[2022-09-07 15:39] StefanB90 commented on #985
two separate issues:

1. disable "Open link in app" intermediary page that prompts user to click ok every time they click on a shared link
2. long loading time --> identify if issue is from chain or mobile side.

[2022-09-07 15:41] StefanB90 commented on #989
@Tanyaml confirmed that the recovery phrase is copied just not being displayed when you enable biometric ID

[2022-09-07 15:44] MikeSofaer commented on #989
The phone clipboard is not secure, we should not be copying the phrase at any time.

[2022-09-07 15:48] StefanB90 commented on #871
quick fix change (DU) to (DE)

[2022-09-07 17:11] kjawadDeveloper2 commented on #989
So i was not able to produce this issue. @Tanyaml  kindly test with new build.

[2022-09-07 17:46] Tanyaml commented on #989
where is the new Build? @kjawadDeveloper2

[2022-09-07 17:53] kjawadDeveloper2 commented on #812
@Tanyaml  check this also in new build.

[2022-09-07 18:13] kjawadDeveloper2 commented on #989
@Tanyaml  in next 2 hours.

[2022-09-07 18:14] kjawadDeveloper2 commented on #871
@Tanyaml  check this in new build.

[2022-09-07 18:41] heyitsjk commented on #986
Steps:
https://pylons.page.link/gm4C7Aq9BooJMoHZ7

- Open the link in Pylons app.
- Click the Share Icon in the bottom-right.
- Tap on the Messages icon.
- Send to someone and see the <h4> tags appear in the Social Card title.

[2022-09-07 22:09] StefanB90 commented on #950
@kjawadDeveloper2 as discussed during standup. Final design ready for dev takes the user immediately to the Transaction Overview page after an IAP transaction receipt is obtained, but the chain fails to finalize the transaction on our end

![Screen Shot 2022-09-07 at 6 09 34 PM](https://user-images.githubusercontent.com/97635071/188992472-3640f00d-974a-4230-ba24-bba28bfe36e8.png)

[2022-09-08 05:30] faizhashmiRnS commented on #925
Hi @kjawadDeveloper2, should we start working on these design if they are approved?

[2022-09-08 06:10] vuong177 commented on #998
I think only need set this Denom to 'non-transferable'

[2022-09-08 14:05] GNaD13 commented on #997
Hi @MikeSofaer, about 8 specified wallets for "ubedrock". Do they have vesting time or all the token will release immediately after the Upgrade process? If they have vesting time, please give me those information.

[2022-09-08 14:09] MikeSofaer commented on #997
No vesting time for any of the initial wallets. The key element is that those wallets are permitted to send Bedrock, but no other wallet is permitted to send any Bedrock it receives.

[2022-09-08 14:21] #812 closed

[2022-09-08 14:29] Tanyaml commented on #871
I have validated that German is  working as expected
1.Language shows GERMAN shows be DE.

Please see screenshots:

Android:

![Android German Lang Validated ](https://user-images.githubusercontent.com/93543576/189148868-6e61c944-ff1b-4347-a863-c88e7790dd3b.png)

iOS:

![iOS German Lang Validated](https://user-images.githubusercontent.com/93543576/189148917-982cc0e4-3bdf-4eae-86c3-9cc9ae44f875.jpg

[2022-09-08 14:29] #871 closed

[2022-09-08 14:30] StefanB90 opened #1005 "Insufficient Balance <Add points> Buy NFT"
## Summary

![Screen Shot 2022-09-08 at 10 28 12 AM](https://user-images.githubusercontent.com/97635071/189148725-3e4242c6-3eb5-4948-b14c-153452f21b92.png)

## Problem Definition

There are too many steps/screens in the Insufficient Balance scenario and we must simplify this process in order to alleviate any obstacles in the user's journey to buy a NFT when they don't have enough points in their a

[2022-09-08 14:42] MikeSofaer commented on #1005
This looks great and is high priority!

[2022-09-08 14:46] Tanyaml commented on #989
I have Validated the  iOS Recovery Phrase and it is working as expected.

Please see video:

https://user-images.githubusercontent.com/93543576/189152911-18071112-3bb1-4ca2-a94a-404ade3aef79.mov

[2022-09-08 14:46] #989 closed

[2022-09-08 15:04] nghuyenthevinh2000 commented on #997
yep, I have a solution design for that bedrock transfer restriction: https://github.com/Pylons-tech/pylons/issues/998

[2022-09-08 15:09] nghuyenthevinh2000 commented on #996
monday: training multisig tool.

[2022-09-08 16:22] StefanB90 opened #1006 "QR code not working as expected"
## Summary of Bug

QR code doesn't work since other wallets don't have a way to view our NFT from their side. QR code should point to recipe (NFT listing if available for sale) so user who scanned QR code can purchase a different edition of the same NFT the QR code is associated with.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors

[2022-09-08 17:48] StefanB90 commented on #1005
Please note that in the design I provided the Edition Number actually changed from #4 to #5 because during the time in which the user left the Trade Summary screen to add more points to buy this NFT, the #4 edition was purchased by a different person..

My question is when they get to the Trade Summary screen do they have a set amount of time during which that specific edition is reserved for them

[2022-09-08 17:51] MikeSofaer commented on #1005
We don't have a reservation system of that kind. If it sells out you could probably get a refund on the points though

[2022-09-08 20:24] Tanyaml opened #1013 "iOS: Easel-When User is Publishing NFT- Error Message Pops Up:"
## Summary of Bug
iOS:When User is Publishing NFT- Error Message Pops Up: Something went wrong when while signing the transaction.
Please try again.

Please try again.

Please See Video:

https://user-images.githubusercontent.com/93543576/189218615-dc3a0ddb-bba5-435a-9caf-71d858441d57.mov

## Version
1.1.2(4)
iPhone 11

## Steps to Reproduce
1. User opens easel and uploads NFT in any format
2. Use

[2022-09-08 20:30] Tanyaml opened #1014 "iOS:Pylons Wallet-When User is Purchasing NFT-Error Occurs"
## Summary of Bug
iOS:When User is Purchasing NFT- Error Message Pops Up: Something went wrong when while signing the transaction.

Please try again.

Please See Video:

https://user-images.githubusercontent.com/93543576/189219743-f31c8c8a-a944-40d2-bc8a-837d09ba2995.mov

## Version
1.1.2(4)
iPhone 11

## Steps to Reproduce
1. User  clicks on shared NFT: [
](https://pylons.page.link/n8de6Qhii8emaZ

[2022-09-08 20:54] Tanyaml opened #1015 "When user is sharing QR code - Error Occurs"
When user is sharing QR code - Error Occurs
When user is sharing QR code from their collection under MY PURCHASES --->The User who want to purchase NFT then scans NFT and  is sent to the Pylons wallet which then views NFT but they can't purchase the NFT it just shows up as NFT.

note from Stefan:
QR code doesn't work since other wallets don't have a way to view our NFT from their side. QR code sho

[2022-09-08 20:55] #1006 closed

[2022-09-08 20:56] Tanyaml commented on #1006
This ticket does not give exact details.  new ticket is #1015

[2022-09-08 20:57] kjawadDeveloper commented on #1015
I dont think its an issue. You  are trying to share the QR of an item not a recipe. Only recipe can be purchased for now. Not item.

[2022-09-08 20:57] kjawadDeveloper commented on #1015
If you want to sell an item that you own you need to create a trade.

[2022-09-08 21:23] MikeSofaer commented on #1015
The QR code should still go somewhere.

I would like an easy way to show people Lux Floralis so they can buy it, but I can figure it out. But a QR code that goes to wallet home page is confusing!

[2022-09-08 21:29] heyitsjk opened #1016 "ADD: German & Spanish i18n to Easel"
## Summary

Add Spanish & German i18n JSON's to Easel.

[de-DE.txt](https://github.com/Pylons-tech/pylons/files/9530698/de-DE.txt)
[es-ES.txt](https://github.com/Pylons-tech/pylons/files/9530699/es-ES.txt)

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-08 21:50] Tanyaml commented on #1013
issue is resolved now.

[2022-09-08 21:50] #1013 closed

[2022-09-08 21:51] Tanyaml commented on #1014
Issue is resolved now.

[2022-09-08 21:51] #1014 closed

[2022-09-08 22:04] kjawadDeveloper2 commented on #1005
Updated the design. Will be sending a release tomorrow.

[2022-09-09 06:33] kjawadDeveloper2 commented on #950
Why we need buyer here?

[2022-09-09 06:35] kjawadDeveloper2 commented on #950
In case of failure TxId is not created . Thats why we cannot save it.

[2022-09-09 06:41] kjawadDeveloper2 commented on #950
@StefanB90 you are mixing transaction history from the backend and from the local device. When ever a transaction fails its recorded in the local system not in the remote. So can we have only one set of transactions history. Or how we can accomodate transaction history from both the sources?

[2022-09-09 06:43] kjawadDeveloper2 commented on #925
Hi @StefanB90  can we schedule a meeting with you , me and @StefanB90 .

[2022-09-09 13:19] Tanyaml commented on #933
@faisalnaveedRNS any update on this?

[2022-09-09 13:21] Tanyaml commented on #838
@faisalnaveedRNS any update on this?

[2022-09-09 13:46] Tanyaml commented on #985
@faisalnaveedRNS @kjawadDeveloper2  The purchase flow has changed again. User clicks on shared link and is directed to BD and goes to Pylons app for Purchase. This is happening in both iOS and Android.

Please see video:

https://user-images.githubusercontent.com/93543576/189364476-f6654df5-f902-4e7c-8941-e5fd22c530c4.mov

[2022-09-09 13:58] Tanyaml commented on #888
@faizhashmiRnS @faisalnaveedRNS whats the status on this? It has been over 1 week now.

[2022-09-09 15:08] StefanB90 commented on #950
you're right we don't need buyer please remove it thank you for pointing that out.

[2022-09-09 15:12] kjawadDeveloper2 commented on #1016
Done.

[2022-09-09 18:40] heyitsjk opened #1024 "REMOVE: "my nft" from Pylons i18n"
## Summary

Per updated design request from @MikeSofaer, let's make the "my_nft" key blank for now for all languages.

_pylons/wallet/i18n/_
Line 282: "my_nft": "my nft",

Expected:
Line 282: "my_nft": " ",
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-09 21:04] kjawadDeveloper2 commented on #844
Its a CI job i added one for easel but wallet is remaining,

[2022-09-12 05:45] ahmadrns commented on #988
Hi @StefanB90,
In the 3D model & Pdf case, the user interacts with the asset, can play around with the 3D model, and can also change the pages of the pdf file on the swipe.
For example in PDF, a right swipe can also mean the next PDF page or the next NFT collection.
So how the gestures will respond in these cases?

[2022-09-12 14:58] Tanyaml commented on #1015
@kjawadDeveloper This issue is not resolved- please see video: NFT that is purchased and shared with QR code is still not purchasable.

Android:

https://user-images.githubusercontent.com/93543576/189687422-83c1d874-fde0-4b50-87f9-160c30a43334.mov

iOS:

Uploading iOS #1015 Invaild.mov…

[2022-09-12 15:16] nghuyenthevinh2000 commented on #998
https://github.com/Pylons-tech/pylons/compare/nhan/upgrade-handler?fbclid=IwAR2Pyn1DR5xvXqSyX1b9uDpwYqNEk-XI2EWTyj34ky7diSbJOr_2FyZgDh4

https://github.com/levanhieuhust/pylons/commit/ec4256b5949458c50ba01b9480b66a487eb97086?fbclid=IwAR3-kPdKqPg0wzPCJGuSQF5vcF5mEOFotC4dA1NKTUARd0w1SQ0rfulYDpQ

[2022-09-12 17:21] kjawadDeveloper2 commented on #838
@Amean you can work on this with faisal.

[2022-09-12 17:38] Tanyaml commented on #1016
@kjawadDeveloper2

The German Language should be displayed as German- DE
As for the Screens in Easel the following needs to be fixed

For both Spanish & German Screens need to be translated in the language

**NFT Details**
Give your NFT a name
Your Name as the artist
Describe your NFT
Hashtags.

**NFT Price**
Price
Royalties
Number of editions

German Language:
Uploading Lang- German Invaild.mov…

[2022-09-12 17:51] kjawadDeveloper2 commented on #985
So we tried the changes but nothing can satisfy all the needs.

[2022-09-12 20:36] heyitsjk opened #1032 "REPAIR: Google Analytic Tag in Big Dipper"
## Summary of Bug

It appears that the Google Analytic tag in Big Dipper is gone?
Please add the analytic tag back immediately after the `<head>` html element in BD.

[header tag.txt](https://github.com/Pylons-tech/pylons/files/9551690/header.tag.txt)

## Steps to Reproduce

- Load Google Firebase for Big Dipper.
- See no data has been reported in the last 48 hours.

____

## For Admin Use

- [ ]

[2022-09-12 21:29] Tanyaml commented on #1015
The QR code is working as expected for both Android and iOS  for the NFT that is purchased and shared with QR code is now available to be purchased.

Please see videos:

iOS:

https://user-images.githubusercontent.com/93543576/189761752-ba5cbeee-085a-421b-a171-47bb4516a95e.mov

Android:

https://user-images.githubusercontent.com/93543576/189761984-5413eae8-01f2-43fb-ab07-1636a8e39544.mov

[2022-09-12 21:29] #1015 closed

[2022-09-12 21:49] Tanyaml commented on #1024
I have validated the "my_nft" key blank for now for all languages and is as expected.

[2022-09-12 21:49] #1024 closed

[2022-09-12 21:54] Tanyaml commented on #831
I have validated Easel should only price USD or Pylons.

Please see screenshots:

iOS:

![ios Price ](https://user-images.githubusercontent.com/93543576/189765287-7338de72-ba7e-44c9-9fe5-b0f77c0ba14c.jpg)

Android:
![Android price ](https://user-images.githubusercontent.com/93543576/189765417-7708faf8-d329-403f-bbf0-ca0fc5291217.jpg)

[2022-09-12 21:54] #831 closed

[2022-09-12 22:02] Tanyaml commented on #985
@mustafapylons @StefanB90 Thoughts?

[2022-09-12 23:01] mustafapylons opened #1034 "Recipe has counter/limit for items that can be minted should be moved to cookbook on the chain."
## Summary
Recipe has counter how many items can be minted. (limit in a recipe).
We would like to store this data in cookbook object on the chain that can be accessed from recipes which in
turn would allow recipe execution to increase the number of items minted.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropria

[2022-09-13 04:05] mustafapylons opened #1036 "Adding Additional SKUs"
## Summary
All the SKUs should be as below:

$0.99 - 10 points
$2.99-  30 points
$4.99-  50 points
$9.99-  100 points
$19.99- 200 points
$49.99- 500 points
$99.99 - 1K Points
(Please double check the math).

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-a

[2022-09-13 04:09] mustafapylons opened #1037 "Previewing Content, NFTs that are not purchased yet."
## Summary
A thumbnail of a content that's a preview of it should be visible to users that haven't purchased the NFT yet.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-13 04:46] nghuyenthevinh2000 commented on #996
https://github.com/Pylons-tech/pylons/pull/1029

https://github.com/Pylons-tech/pylons/pull/1018

https://github.com/Pylons-tech/pylons/pull/1019

[2022-09-13 08:03] faizhashmiRnS commented on #917
As per my discussion with @abdullahjankhan1, This is implemented on devnet from backend team and would not be available on testnet for now.
@faisalnaveedRNS please let me know the next proceedings for mobile team on this issue.

[2022-09-13 12:17] faisalnaveedRNS commented on #1036
@kjawadDeveloper2 PR created from my side, please check on mobile side what needed

[2022-09-13 12:33] faisalnaveedRNS commented on #1037
@kjawadDeveloper2 need to discuss

[2022-09-13 19:58] StefanB90 opened #1043 "Recipe Tester UX/UI"
## Summary

Recipe testing app for pylons SDK game developers

## Problem Definition

We need a developer tool that helps game developers test recipes they've created using our sdk recipe creator

## Proposal

single UI that let's users:
1. Obtain their item inventory from their Pylons Wallet
2. Ingest recipes they've created
3. Test recipes using items in their inventory to see what happens

![Sc

[2022-09-13 20:02] StefanB90 opened #1044 "Pylons points cash out (fractal KYC process)"
## Summary

What is the KYC process for fractal to allow users to burn pylon points for USD and cash-out?
Determine what UX/UI is needed

## Problem Definition

To allow artists to burn their pylons points and convert them to USD (1 point = $0.08)
Note: we assess a $0.02 fee for every point burned/converted to USD
## Proposal

TBC
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropria

[2022-09-13 20:08] StefanB90 opened #1045 "Delete all references to Pylons USD"
## Summary of Bug

Prep for mainnet

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-13 20:11] StefanB90 commented on #1034
@faisalnaveedRNS please research how to implement this request. Thank you.

[2022-09-13 20:17] StefanB90 opened #1046 "Final walkthrough & signoff for Mainnet Launch"
## Summary

Final end-to-end test with feedback to polish final UX/UI in preparation for mainnet launch

## Problem Definition

## Proposal

TBD
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-13 20:19] MikeSofaer commented on #1043
@afti-githobo hopefully this gives you stuff to work on while we get the SDK fixed up

[2022-09-13 20:20] MikeSofaer commented on #1045
There's no such this as Pylons USD yet! (soon maybe). We want to reset all StripeUSD balances to 0 so that we can make it real money.

[2022-09-13 20:21] StefanB90 opened #1047 "Big Dipper Re-architecture"
## Summary

Redesigning big dipper's current solution architecture to optimize performance and reduce error rates post-main net launch

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-13 20:21] MikeSofaer commented on #1044
@jlkershner might have comments here

[2022-09-13 20:49] MikeSofaer commented on #1036
I would like a 10K, 30k and 100k SKU as well please

[2022-09-13 21:39] jlkershner commented on #1044
A couple of thoughts:
(1) This ticket is actually a composite of two processes.  First, how do users "cash out" Pylons points -- i.e. burn points and get paid.  And second, how do we whitelist wallets that have gone through the KYC process.  These are linked because we don't allow users to cash out unless their wallet is whitelisted.  But, it's important to think of these as separate because users

[2022-09-13 21:43] jlkershner commented on #1044
An important note about the fees:
We want users to think of Pylons points as equal to 10 cents.  But, we cash out Pylons points at a rate of 9 cents after deducting fees.  We use 9 cents because we sell points with a small bonus for buying at higher quantities.  The default fee for IAP from Apple and Google is either 15% or 30%.  Right now, I think we are paying 15% on Google and 30% on Apple, and

[2022-09-13 21:49] jlkershner commented on #998
I wrote a lengthy comment about how the whitelisting process for wallets should work: https://github.com/Pylons-tech/pylons/issues/1044#issuecomment-1245980181

Take a look at that as it is the basic structure needed here.  Whitelisting should be extensible so that we can use that feature to grant a range of permissions to a given wallet with the four such permissions to start with:
(1) Cashing ou

[2022-09-13 21:56] MikeSofaer commented on #1044
Apple approved us for 15%

I think we can end the process at burn for now, because we know who the user is from KYC and can contact them to pay them.

[2022-09-13 21:59] Tanyaml opened #1048 "Creator Hub in Spanish Draft Button not Centered"
## Summary of Bug
Creator Hub in Spanish Draft Button not Centered- Looks off.
Please see screenshot:

![Draft Spanish button ](https://user-images.githubusercontent.com/93543576/190016651-2c0bde5f-bb19-4eec-890f-12cf8fafd9b3.png)

## Version

## Steps to Reproduce
1.Change language app to Spanish
2.Open Easel
3.User will then See Draft in Spanish not centered

____

## For Admin Use

- [ ] Not du

[2022-09-13 23:30] afti-githobo commented on #1043
I'm a little confused by what this is supposed to be. Is it something *specific,* or is it a general-purpose app for running arbitrary recipes?

If the latter: that's good and we should have it, but I definitely can't implement this UI as-is, because it's assuming things about the structure of items and the meaning of state changes that we can't assume. Like, we can't have a neat tabbed inventory

[2022-09-13 23:50] heyitsjk commented on #1032
Deployed 09.13.2022 - confirmed working in console

[2022-09-13 23:50] #1032 closed

[2022-09-13 23:52] heyitsjk commented on #962
Analytics are shipping in version 1.1.2 of main Pylons app (09.13.2022)

[2022-09-14 00:17] MikeSofaer commented on #1043
It's supposed to be as general-purpose as possible, but it will of course require some customization.

One thing I think is that it probably doesn't need to have nice UX for switching cookbooks. Maybe a hidden menu somewhere but we don't need tabs or anything, it's primarily a single-cookbook view.

Initially I would put the cookbook ID and what item filters exist in a JSON file and start there. T

[2022-09-14 00:46] afti-githobo commented on #1043
Hmm. Been thinking about this and about ways to integrate it w/ the API revision work, and I have a proposal I want to make:

a) the recipe tester targets desktop platforms in addition to mobile. This is obviously a lower-friction setup for external development, and Flutter supports desktop builds anyway.
b) the recipe tester is developed *in tandem* with a newer, higher-abstraction version of the

[2022-09-14 00:49] MikeSofaer commented on #1043
This seems good, I think. Let's see what @kjawadDeveloper2 thinks.

[2022-09-14 02:03] nghuyenthevinh2000 commented on #997
@MikeSofaer

Hi, so 1 bedrock will be distributed to each validator. I assume that I will use Engineer Hot Wallet to distribute 1 bedrock to each validator?

[2022-09-14 02:06] nghuyenthevinh2000 commented on #1045
Yep, the code for burning all stripe USD is ready along side redistribute bedrock.

[2022-09-14 02:36] nghuyenthevinh2000 opened #1051 "feat(pylons): change iap options from hard coded to gov"
## Summary

currently, iap options are hardcoded to 3 options. However, this should be changeable through governance

- [ ] determine where is this?

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-14 02:38] nghuyenthevinh2000 commented on #1051
@faisalnaveedRNS
I heard something about these iap options which are hardcoded to chain from Mike. But I don't know exactly where it is. Would you be able to provide clarity on this.

@ThanhNhann
he will be handling this logic.

If possible, I would love to join in a quick call.

[2022-09-14 03:26] MikeSofaer commented on #997
Yes, you can use the engineering hot wallet to do this, or it can be done in the upgrade handler (otherwise the chain might not be able to start after the upgrade)

[2022-09-14 05:52] faizhashmiRnS commented on #924
@Tanyaml please test this.
@kjawadDeveloper2

[2022-09-14 06:01] faizhashmiRnS commented on #878
@kjawadDeveloper2 are they replaced in the code? I find these similar with the ones in code.

[2022-09-14 06:13] faizhashmiRnS commented on #807
Alright, i will look into it.

[2022-09-14 06:17] heyitsjk commented on #807
This is already implemented

On Tue, Sep 13, 2022 at 11:13 PM Faiz Hashmi ***@***.***>
wrote:

[2022-09-14 06:20] faizhashmiRnS commented on #888
@kjawadDeveloper2 , any update about the testing build for branch **fix/no_internet_popup_issue** ?

[2022-09-14 14:46] kjawadDeveloper2 commented on #878
Yes @Tanyaml  kindly close this ticket.

[2022-09-14 15:05] StefanB90 opened #1052 "multi-sig work for mainnet"
## Summary

In preparation for mainnet, we need to add pylon hyperlink to the website. We also need wallets.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-14 15:07] faisalnaveedRNS commented on #987
@StefanB90 Please close this ticket

[2022-09-14 15:07] nghuyenthevinh2000 commented on #1052
I understand that I will add this hyperlink: "https://www.pylons.tech/home/" to the multisig website?

[2022-09-14 15:09] faisalnaveedRNS commented on #986
no activity on this, can we close this

[2022-09-14 15:10] StefanB90 commented on #986
@heyitsjk can you confirm whether we can close this issue?

[2022-09-14 15:10] faisalnaveedRNS commented on #986
@heyitsjk can you please reconfirm if this still happen

[2022-09-14 15:11] heyitsjk commented on #987
deployed & fixed

[2022-09-14 15:11] #987 closed

[2022-09-14 15:11] faisalnaveedRNS commented on #917
need to test on dev net

[2022-09-14 15:11] MikeSofaer commented on #1052
I think maybe this ticket was supposed to be making sure that the multisig website works for Pylons, given the account creation etc differences.

[2022-09-14 15:13] StefanB90 commented on #913
main ticket for Big Dipper rewrite.

[2022-09-14 15:13] nghuyenthevinh2000 commented on #1052
you mean refactoring for:
1. domain name
2. logo
3. logic to support Pylons only (transactions)
4. hyperlink to https://www.pylons.tech/home/ on pylons - specific multisig tool

Do I understand this correctly?

[2022-09-14 15:14] StefanB90 commented on #1047
Closing this ticket since it is a duplicate of #913

[2022-09-14 15:14] #1047 closed

[2022-09-14 15:14] StefanB90 commented on #913
Will be completed post-main net launch

[2022-09-14 15:15] StefanB90 commented on #912
Improve as much as possible prior to next Friday. At that point we can close this and transition entirely to the BD rewrite

[2022-09-14 15:16] MikeSofaer commented on #1052
I don't really know, we don't expect anyone but us to use it, so I don't think we need to do a lot of cosmetics. I want to make sure it actually works for moving Bedrock.

[2022-09-14 15:17] StefanB90 commented on #912
Pull React App out of Big Dipper

[2022-09-14 15:18] StefanB90 commented on #843
we should not be going to mainnet with transaction that do the wrong thing

[2022-09-14 15:21] StefanB90 commented on #772
folks can use the chain to move pylons points. We need to ensure that this is not possible.

[2022-09-14 15:22] StefanB90 commented on #772
there's a flag in the bank module that designates whether tokens are transferrable

[2022-09-14 15:24] StefanB90 opened #1053 "Wallet Refactoring (for mainnet)"
## Summary

Tracking the progress of the wallet simplification currently being done by @kjawadDeveloper2

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-14 15:26] StefanB90 commented on #1051
we have a different issue to add additional SKUs to our IAP.. can we do this without a chain upgrade?

[2022-09-14 15:27] StefanB90 commented on #805
please begin work on Evently MVP as soon as possible. Thank you.

[2022-09-14 15:29] StefanB90 commented on #694
quality of life ticket not critical for mainnet

[2022-09-14 15:35] StefanB90 commented on #985
please address other critical issues first that would otherwise prevent us from launching mainnet next week. At that point, we can address this

[2022-09-14 15:37] StefanB90 commented on #972
@heyitsjk do you mind checking if we can close this request? Thank you.

[2022-09-14 15:38] #962 closed

[2022-09-14 15:39] StefanB90 commented on #969
@kjawadDeveloper2 please let us know when you add those tags to the purchase flow. Thank you.

[2022-09-14 15:49] #915 closed

[2022-09-14 15:51] StefanB90 commented on #892
@Tanyaml can we test and close this issue?

[2022-09-14 15:57] StefanB90 commented on #824
@Tanyaml let's test this to see if we can close it. Thank you.

[2022-09-14 15:58] #823 closed

[2022-09-14 16:04] StefanB90 commented on #996
set all stripe USD to 0

Bedrock token

[2022-09-14 16:06] StefanB90 commented on #996
@MikeSofaer @mustafapylons @faddat final go/no-go meeting next Wednesday, September 21st

[2022-09-14 16:07] StefanB90 commented on #996
sell issue is mainnet critical.

[2022-09-14 16:08] nghuyenthevinh2000 commented on #996
Strategic planning:

- need to identify which keeper logic functions that can lose user money.
- after identification, testing will be done.

[2022-09-14 16:11] StefanB90 commented on #1044
circle back by EOD today regarding whether we will be able to deliver this by mainnet

[2022-09-14 16:11] StefanB90 commented on #1037
not must have for mainnet

[2022-09-14 16:17] nghuyenthevinh2000 commented on #998
currently, here is how we would add KYC address structure to x/pylons
{
  userName: string
  address: string
}

[2022-09-14 16:20] MikeSofaer commented on #998
Needs at least three more fields I think.

level: integer
provider: string
provider_id: string

[2022-09-14 19:19] heyitsjk commented on #986
still happening on TestFlight (9)
![IMG_4389](https://user-images.githubusercontent.com/74597290/190243426-a9f48089-8105-40ab-9930-00ee7c2a8790.jpg)

[2022-09-14 19:24] heyitsjk commented on #972
still working on this - need @kjawadDeveloper2 to assist

[2022-09-14 19:25] heyitsjk commented on #969
still working on this - need @kjawadDeveloper2 to assist

[2022-09-15 00:49] heyitsjk opened #1055 "UPDATE: Big Dipper Meta Tags"
## Summary

When sharing a link to Big Dipper, the social card looks bad.
Let's clean this up some for branding purposes.

_pylons/big-dipper/client/main.js_
_pylons/big-dipper-backend/imports/startup/server/index.js_
_pylons/big-dipper/imports/startup/server/index.js_

Current Code:
[code]

CHANGE TO:

[code]

+ replace current `buy_icon.png` with attached image.

![buy_icon](https://user-images.

[2022-09-15 03:14] levanhieuhust commented on #998
Could you please explain why we need these fields?

[2022-09-15 03:15] MikeSofaer commented on #998
We would like to know which KYC provider has checked them (we might have multiple providers) and the external ID for the person in that provider's system. We would also like to know the access level we want to provide, per Josh's comment above.

[2022-09-15 03:21] levanhieuhust commented on #998
Thank you, I get it

[2022-09-15 07:17] ThanhNhann opened #1056 "Clean upylons"
## Summary
Clean upylons for mainnet

## Problem Definition
To prepare for mainnet, I want to know the condition for burn upylons

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-15 07:19] ThanhNhann commented on #1056
Hi @MikeSofaer, @StefanB90. I got the task clean upylons to prepare for mainnet, but don't know the detail about the conditions to burn it. Can you list more about this for me

[2022-09-15 08:14] faizhashmiRnS commented on #950
https://user-images.githubusercontent.com/106378847/190351547-95312ede-cf1d-4fc6-834d-4a5f2d913278.mp4

Hi @kjawadDeveloper2 , Please find out the attached demo for Retry Functionality in pylons app.

[2022-09-15 11:58] MikeSofaer commented on #1056
burning upylons is a signal to Pylons Inc that we should pay the person the cash represented by the pylons. An artist or game developer who has been KYCed can burn Pylons, and let us know the transaction ID, and we can pay them off chain

[2022-09-15 13:33] Tanyaml commented on #1048
I have validated the Draft Button it is now Centered has been validated.

https://user-images.githubusercontent.com/93543576/190417247-cb06eef0-8b22-418d-bf5c-533abcf20dae.mov

[2022-09-15 13:33] #1048 closed

[2022-09-15 15:00] Tanyaml commented on #824
I have validated this although do we still need the three dots being that you can just click on the NFT @StefanB90

[2022-09-15 15:09] StefanB90 commented on #824
@faizhashmiRnS please remove the three dots in the Creator Hub cards since the entire card is now clickable. Once you are able to do that, we can close this issue. Thank you for your help.

CC @Tanyaml

[2022-09-15 15:22] StefanB90 opened #1061 "Post-launch --> Enhanced Chain Responses"
## Summary

How can we enhanced the responses generated from the chain to help developers using our SDK.

This is something that will be tackled post- mainnet launch
## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-15 16:09] Tanyaml commented on #924
@faizhashmiRnS I am still not seeing full image on Mobile of the following NFT.
https://latest---bigdipper-jhv3rfpllq-uc.a.run.app/?recipe_id=Easel_Recipe_auto_recipe_2022_09_13_125805_803&cookbook_id=Easel_CookBook_auto_cookbook_2022_09_13_125802_831&address=pylo1kstu9dgfxjfe33h6jjg8zruneddcecwwj9dd0x

Please see screenshot:
![Screenshot_20220915-115807](https://user-images.githubusercontent.com/

[2022-09-15 18:00] StefanB90 opened #1063 "DALL·E 2 <Easel> text-to-NFT generator"
## Summary

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-15 18:38] MikeSofaer commented on #1063
lol

This might want to be its own app, we could use StableDiffusion, and charge Pylons Points for generating the images

[2022-09-16 02:30] Tanyaml commented on #840
@StefanB90  The buy option actual results screen  does not have the History tab and  Buy Button when expanding subsections of the NFT full screen the as previewed in the  figma file attached. Can you confirm that the screenshot attached is valid, if not please advise.

See video and screenshot:

https://zube.io/files/pylons/2caaf8606b73bfdbfbf18b0bc34f3f81-ios-invaild-subsections-of-the-nft-full-s

[2022-09-16 02:33] Tanyaml commented on #892
@StefanB90 this still needs to fixed.

[2022-09-16 02:37] Tanyaml commented on #925
@kjawadDeveloper2 what is the status on this?

[2022-09-16 02:41] Tanyaml commented on #1016
This is working as expected

[2022-09-16 02:55] Tanyaml commented on #1016
This is working as expected.

Please see video:

Spanish Language::
https://zube.io/files/pylons/b181a63e0561927c2845e71fc3f23838-spanish-lang-validate.mov

German Language:

[2022-09-16 02:56] #1016 closed

[2022-09-16 02:57] Tanyaml commented on #917
@faisalnaveedRNS  what is the status on this?

[2022-09-16 02:59] Tanyaml commented on #775
@StefanB90 @faisalnaveedRNS what is the status on this?

[2022-09-16 04:06] mustafapylons opened #1071 "Create a message for test receipts in Test Environment for App approval"
## Summary
Print a message when an iAP purchase happens in test environment as following:

"Your in app purchase has been processed successfully. We do not issue points for transactions signed with a testkey"

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self

[2022-09-16 05:25] faizhashmiRnS commented on #924
HI @Tanyaml, I believe you do not have the latest code. Please test it on the build that I will share it with you today.

[2022-09-16 07:21] faizhashmiRnS commented on #824
Yes, Just did this in PR #1072

[2022-09-16 12:39] faizhashmiRnS commented on #917
This is in progress. Currently we are unable to get the timestamp in the response payload after executing a recipe while being on the devnet.

[2022-09-16 14:28] Tanyaml commented on #924
hi @faizhashmiRnS This is working as expected although I can not publish the NFT I am gettin the following error:
1. When user is trying to crop image it is very sensitive to the arrows that direct you back to the image upload screen.

https://user-images.githubusercontent.com/93543576/190662343-2431cbbc-ec8f-4bb1-b8f2-333f8e9af7ae.mov

3. When user is trying to Publish this error occurs: Cookbook

[2022-09-16 14:35] Tanyaml commented on #933
@faisalnaveedRNS @faizhashmiRnS  This is still not working as expected-When user just finished purchasing a NFT it still remains where it left off in the Pylons App--> then user then clicks on shared NFT to purchase and it is directed to big dipper and user clicks buy and then is directed to previous purchase for 3.
Please Video:

Uploading NFT Purchase Invaild.mov…

[2022-09-16 14:43] Tanyaml commented on #924
@faizhashmiRnS  This is still not working as expected when user clicks on shared NFT ---> user is directed to Big Dipper and this is where the image is not valid, then user clicks on buy NFT and then is direct to purchase NFT  where the correct format image is previewed.
Therefore the Big Dipper has the issue for the aspect ratio for the Image.

Please video:

https://user-images.githubusercontent

[2022-09-16 14:43] faisalnaveedRNS commented on #933
@faizhashmiRnS please check out that issue

[2022-09-16 14:55] faisalnaveedRNS commented on #1036
@kjawadDeveloper2 please add on IAP side

[2022-09-16 15:00] Tanyaml opened #1074 "Buy for 0 NFT invalid- For Free NFT Drop"
## Summary of Bug
When user is claiming free NFT- button to buy should be stated "Claim Free NFT" @StefanB90 please advise.
As of now it said Buy for Free when you land on Big Dipper and then when you are directed to Pylons to purcahse Buy for 0 with the pylons icon

Please see video:

https://user-images.githubusercontent.com/93543576/190669697-81b98875-5e2a-45c0-a1bf-82b3ab0622a2.mov

 it states

[2022-09-16 15:07] faisalnaveedRNS commented on #917
@faizhashmiRnS let me check on dev chain

[2022-09-16 15:16] faisalnaveedRNS commented on #1071
Chain is rejecting test transactions.

[2022-09-16 16:10] ThanhNhann commented on #1056
Can you list in detail the cases we should burn by the bullet points? Im confusing about your comment, Im understanding that burning mean that we have to burn upylons of addresses of artist or game developer who has been KYCed and all addresses created before our first paid event (created without IAP) @MikeSofaer

[2022-09-16 16:17] MikeSofaer commented on #1056
Yes, I'm making a distinction between removing them in the upgrade handler now, and a burn transaction that people can do with them later.

For this upgrade all pylons created without IAP must be removed

Later people with KYC can burn Pylons to be paid for them by Pylons, Inc. (sort of a reverse of IAP minting)

Two different things.

[2022-09-16 18:04] kjawadDeveloper2 commented on #1036
@MikeSofaer @mustafapylons @heyitsjk  the above skus doesnt contain bonus is it removed ?

[2022-09-17 13:56] Tanyaml commented on #924
@kjawadDeveloper2

As tested before and testing again with the Build given on Friday
(https://we.tl/t-J0VfVTXRIi)
(https://we.tl/t-aV2gKOuo09)

This is still not working as expected when user clicks on shared NFT ---> user is directed to Big Dipper and this is where the image is not valid, then user clicks on buy NFT and then is direct to purchase NFT where the correct format image is previewed.
T

[2022-09-17 14:29] Tanyaml commented on #933
@kjawadDeveloper2 @faisalnaveedRNS
This is still not working as expected.
As tested before and testing again with the Build given on Friday
(https://we.tl/t-J0VfVTXRIi)
(https://we.tl/t-aV2gKOuo09)

his is still not working as expected-When user just finished purchasing a NFT it still remains where it left off in the Pylons App--> then user then clicks on shared NFT to purchase and it is directed

[2022-09-17 14:52] Tanyaml opened #1076 "When user is in Easel and tapping on Tile 3D Image- Invalid Behavior Occurs"
## Summary of Bug

When user is in Easel and tapping on Tile 3D Image- Invalid Behavior Occurs- Two Issues:

1.When User decides to add the Tile 3D image in Draft in the Image tab- there is no option to tap to Publish once user decides too.

2. When user Publishes the Tile 3D NFT it does not have the option tap on the Image  to view in Pylons App.

Please see video:

https://user-images.githubuser

[2022-09-17 15:10] Tanyaml opened #1077 "Easel: User will clicks on Draft NFT which lands on Published- Invalid Behavior"
## Summary of Bug

Actual Results: Easel: User will clicks on Draft NFT which lands on Published- Invalid Behavior
When User is in the process of minting NFT- and decides to Draft the NFT they are then directed to Published instead of the Draft tab.

Expected Results:Once user decides to Draft their NFT they will then be directed to the Draft tab and able to tap on image and continue either to Pub

[2022-09-17 21:11] heyitsjk commented on #1036
from Josh:

"The three packages that we want the app to show are:
10 for $0.99
65 for $5.99
110 for $9.99

The app should show those three, the others are being added without a price decided by us yet.
The next chain update should have all of them though."

[2022-09-19 04:07] #997 closed

[2022-09-19 05:24] faizhashmiRnS commented on #924
Hi @Tanyaml , The link you clicked seem to be an old link which will definitely direct us to the big dipper first. In order to test this we need to create a new NFT link which should be a shorter link something like **https://pylons.page.link/VzTVstkAQyWmaTos6**
Please try this and let me know if anything goes wrong.

[2022-09-19 05:44] faizhashmiRnS commented on #917
Sure, please keep me posted.

[2022-09-19 07:16] faizhashmiRnS commented on #933
Hi @Tanyaml, Can you please verify that you are testing the same build that I have shared with you on Discord on Friday?
I am using that same build. Please see the attachment.

https://user-images.githubusercontent.com/106378847/190966425-2548a329-aea9-4b76-99c7-964c24951b69.mp4

[2022-09-19 07:23] GNaD13 opened #1082 "restrict the ability to create new address on mobile app only"
## Summary
restrict the ability to create new address on mobile app only

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-19 07:28] faizhashmiRnS commented on #933
Hi @Tanyaml, Can you please verify that you are testing the same build that I have shared with you on Discord on Friday?
I am using that same build. Please see the attachment.

https://we.tl/t-9D0UoCtypM

[2022-09-19 11:21] nghuyenthevinh2000 commented on #998
@MikeSofaer @vuong177

Please look at the diagram above first.

How to add KYC addresses to chain can be potentially difficult. Here, I present 3 solutions that I think of:
1. Use a designated address (with secret seed phrase) to add KYC address to the chain. If seed is exposed, attacker can add rogue address to KYCed address list. This is dangerous.
* the address can be multisig address (hide 4 s

[2022-09-19 11:48] jlkershner commented on #998
Some things to think about:
(1) the worst case scenario for compromising the KYC sender address in
solutions 1 & 2 is that a bunch of spam KYC transactions happen.  That’s
much less dangerous than stealing coins because the KYC is merely a
permission to do something else, it doesn’t have intrinsic value.  If the
seed is compromised and unrecoverable, the whole KYC whitelist could be
abandoned and

[2022-09-19 12:49] faisalnaveedRNS commented on #1034
@StefanB90  there are multiple recipes of cookbook, if we move limit to cook book, cook book will not be able to understand which limit is for which recipe.

[2022-09-19 13:53] MikeSofaer commented on #1082
create_account requests should be rejected if they do not have a correct and unique AppCheck token from Firebase. This will prevent people from creating large numbers of fake accounts from their consoles.

[2022-09-19 14:08] GNaD13 commented on #1082
Hi sir, I found that create_account requests already have func to check token name verifyAppCheck.
![image](https://user-images.githubusercontent.com/89174180/191036484-f10b569c-7cfe-4750-8f26-7895517d4c9b.png)
Should we need another way to do this?

[2022-09-19 14:13] MikeSofaer commented on #1034
This is the beginning of a more general cookbook data storage paradigm I want to add. So if a recipe has a condition `lux_floralis_sold < 1000` and a result `lux_floralis_sold++` then we have recipe limits that can cross different payment methods.

We also have something that could become more powerful, like `gold_in_mine -= 100` when you do a gold mining recipe, and then the mine can run out. So

[2022-09-19 14:38] afti-githobo commented on #1082
I was, at one point. It... might have changed in recent weeks? idk; i can check against current main later today

[2022-09-19 15:00] faisalnaveedRNS commented on #772
updated, but I think that also need to add, in upgrade handler,

[2022-09-19 15:04] StefanB90 commented on #1043
may be a good idea if the chain tells you what happened with an executed recipe

[2022-09-19 15:05] StefanB90 commented on #1061
when you execute a recipe, it creates a recipe execution, but it doesn't tell you what's in the recipe execution or even the ID associated with it.

Would be better if the response contained the recipe execution object so you can check the results of the recipe

[2022-09-19 15:59] Tanyaml commented on #924
@faizhashmiRnS  This is still not working as expected- Th image in Pylons app is still not as expected when user lands on Big Dipper.

Please see video:

https://user-images.githubusercontent.com/93543576/191061182-638cfe37-ea81-471a-b243-80cfc7da2825.mov

[2022-09-19 16:12] GNaD13 commented on #1082
Hi sir @afti-githobo, can you give me the testing case please?

[2022-09-19 17:13] Tanyaml opened #1088 "Upload of NFT Image- Invalid:Color is Not As Expected"
## Summary of Bug
Upload of NFT Image- Invalid:Color is Not As Expected
Although the color of image looks dark once user uploads the image and thats not what it look like originally.

Please see video:

https://user-images.githubusercontent.com/93543576/191074562-b73f82df-cf7e-4eaa-89ba-09831e9160d0.mov

## Version

## Steps to Reproduce
1.User opens Easel and uploads image
2.User Publishes NFT
3.

[2022-09-19 17:28] Tanyaml commented on #933
I have validated When user just finished purchasing a NFT it still remains where it left off in the Pylons App--> then user then clicks on shared NFT to purchase and it is directed to big dipper and user clicks buy and then is directed to previous and is working as expected.
Please see video:

Uploading #933 Validated .mov…

[2022-09-19 17:37] Tanyaml commented on #924
I will be closing this ticket- since it image preview in Pylons app is working as expected. Although the issue is with BD- I will be opening a bug for this issue.

[2022-09-19 17:57] Tanyaml opened #1089 "Zoom level of image view within Big Dipper invalid"
## Summary of Bug
When User Purchases NFT and clicks on shared link, User is directed to Big Dipper and this is where the image is not valid, Image is zoomed in this only happening on BD.

Please see screenshot and video:
![image](https://user-images.githubusercontent.com/93543576/191082350-bd18a46f-99ba-486a-819b-ab410dc07047.png)

https://user-images.githubusercontent.com/93543576/191082736-ac6e

[2022-09-19 18:32] kjawadDeveloper2 commented on #924
@faizhashmiRnS we discussed that you will be sending separate PRs because the branch code was not good. Kindly send a separate small PR for this. Then we can close this.

[2022-09-19 18:51] Tanyaml commented on #933
Understood.

[2022-09-19 20:55] afti-githobo commented on #1082
make a keypair, run `pylonsd tx pylons create-account [username] [token] [referralAddress] [flags]` with a new username --from that keypair

referral address can be the address of any existing account

token can (if this has not been fixed) be literally any string

[2022-09-19 23:50] afti-githobo commented on #1043
I have a working branch (cf. #1091) I've been doing frontend stuff on, but I'm really not satisfied w/ my progress on it. I'm not comfortable at all with Flutter UI stuff yet; I struggle to visualize what I'm trying to do with the tools, and I don't feel like I have a robust understanding of the best way to solve problems.

I have a few questions - first off, what's our due-by on this?

Second is

[2022-09-20 00:41] MikeSofaer commented on #1043
Ok, it's fine to focus on the business logic stuff for now. It also might make sense to pair with @Amean for the week, that could also help her get the widget shipped, and she could help you get the UX stuff done a little quicker.

[2022-09-20 00:44] GNaD13 commented on #1082
Hi sir @afti-githobo, I have tested with the last version of pylons, everything is ok (we can't create account in CLI). Can you re-check the problem please?

[2022-09-20 02:37] mustafapylons opened #1092 "Connection to OpenSea from the app"
## Summary
We need to connect to OpenSea to access their listings of their NFTs and build a market fee structure to reflect this.
@StefanB90  let's discuss this one for our 1-1 tomorrow.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned